<div class="main-content container">
    <h2 class="main-title">Our Blog</h2>
    <p class="sub-title">Get Closer</p>
    <div class="blog">
        <ul class="row">
            {% for item in output %}
            <li class="post span6 has-overlay">
                <div class="post-inner">
                    <div class="post-header">
                        <a href="/news/view/{{ item.id }}"><img src="/{{ item.featurePic }}" style="min-height:220px; max-height:300px;"></a>
                        <div class="post-overlay">
                            <ul class="post-overlay-icons">
                                <li><span></span><a href="content/blog/blog_1_big.jpg" class="overlay-icon-more magnific-popup"></a></li>
                                <li><span></span><a href="/news/view/{{ item.id }}" class="overlay-icon-link"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="post-body">
                        <h2><a href="/news/view/{{ item.id }}">{{ item.title }}</a></h2>
                        <div class="post-date circle">
                            <div class="circle-border"></div>
                            <div class="circle-inner">{{ item.public_date|date:'d' }}<span>{{ item.public_date|date:'M' }}</span></div>
                        </div>
                        <div class="post-excerpt"><p>{{ item.content|truncatechars:120 }}</p></div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- pagination -->
    <div class="pagination-wrapper row">
        <div class="pagination-info span6">Page {{ current }} of {{ total_page }}</div>
        <ul class="pagination">
            {% for page in pagination %}
                {% if page == current %}
                    <li class="current"><span class="page-number">{{ page }}</span></li>
                {% else %}
                    <li><a href="/news/view/?page={{ page }}" class="page-number">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if next %}
                <li><a href="/news/view/?page={{ next }}" class="page-next">Next</a></li>
            {% endif %}
        </ul>
    </div>
    <!-- /pagination -->
</div>
<!-- /#main -->
