{% extends "base.html" %}

{% block title_bar %}
    <title>Facilities - Mr. LOOP </title>
{% endblock %}


{% block mainContent %}
<div class="main-content container">
    <h2 class="main-title"> Facilities </h2>
    <div class="blog">
        <ul class="row">
            {% for item in output %}
                <li class="post span6 has-overlay">
                    <div class="post-inner">
                        <div class="post-header" style="max-height: 260px;">
                            <a href="#"><img src="/{{ item.FacilityPic }}" alt="" style="max-height:300px;"></a>
                            <div class="post-overlay">
                                <ul class="post-overlay-icons">
                                    <li><span></span><a href="#" class="overlay-icon-link"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-body">
                            <h2><a>{{ item.FacilityName }}</a></h2>
                            <div class="post-excerpt"><p>{{ item.FacilityIntro|truncatechars:120 }}</p></div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- pagination -->
    <div class="pagination-wrapper row">
        <div class="pagination-info span6">Page {{ current }} of {{ total_page }}</div>
        <ul class="pagination">
            {% for page in pagination %}
                {% if page == current %}
                    <li class="current"><span class="page-number">{{ page }}</span></li>
                {% else %}
                    <li><a href="/about/facility/?page={{ page }}" class="page-number">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if next %}
                <li><a href="/about/facility/?page={{ next }}" class="page-next">Next</a></li>
            {% endif %}
        </ul>
    </div>
    <!-- /pagination -->
</div>
{% endblock %}
