{% extends "base.html" %}

{% block title_bar %}
    <title>Why Millitronic? </title>
{% endblock %}

{% block mainContent %}
            <div class="row">
                <img src="{{ STATIC_URL }}images/about.jpg">
            </div>

    <div id="main" class="wrapper">
        <div class="main-content container">

            <div class="row">
                <h2 class="main-title">About us</h2>
                <!--<div class="row">-->
                    <!--<div class="one-half">-->
                        <!--<img src="{{ STATIC_URL }}images/about.jpg">-->
                    <!--</div>-->
                    <!--<div class="one-half last">-->
                        <p class="sub-title" style="text-align:justify;"> {{ main }}</p>
                        <div class="space20"></div>

                        <p class="sub-title" style="text-align:justify;">{{ second }}</p>
                        <div class="space20"></div>
                    <!--</div>-->
                <!--</div>-->


            </div>

            <!--<div class="row">-->
                <!--<img src="{{ STATIC_URL }}images/about.jpg">-->
            <!--</div>-->
        </div>
    </div>
{% endblock %}
