/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select {
		font-size: 14pt;
	}
	
	/* Main */
    .main {
    }

    .main.style2 {
    }

    .main.style2 .content {
        width: 50%;
    }

    .main.style2.right .content {
        left: 30%;
        clear: both;
    }

    .main.style2.inactive {
    }

    .main.style2.inactive .content {
    }

    .main.style2.inactive.left .content {
        left: -50%;
    }

    .main.style2 #chart {
        margin-right: -10px;
        display: inline-block;
    }