/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select {
		font-size: 17pt;
	}
	
	/* Main */
		
		.main {
		}
		
        .main.style2 {
        }

        .main.style2 .content {
            width: 40%;
        }

        .main.style2.right .content {
            left: 32%;
        }

        .main.style2.inactive {
        }

        .main.style2.inactive .content {
        }

        .main.style2.inactive.left .content {
            left: -40%;
        }

        .main.style2 #chart {
            margin-right: 15px;
            display: inline-block;
            float: right;
        }