BODY {
	scrollbar-face-color:#FFFFFF;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#b50208;
	scrollbar-darkshadow-color:#b50208;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-arrow-color:#b50208;
	scrollbar-track-color:#FFFFFF;
}

.txt {
	font-size: 9pt;
	line-height: 13pt;
	color: #333333;
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
}

a:link {
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
	line-height: 13pt;
	color: b50208;
	text-decoration: underline;
}

a:visited {
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
	line-height: 13pt;
	color: b50208;
	text-decoration: underline;
}

a:hover {
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
	line-height: 13pt;
	color: b50208;
	text-decoration: none;
}

a:active {
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
	line-height: 13pt;
	color: b50208;
	text-decoration: none;
}

.btxt {
	font-size: 12pt;
	line-height: 15pt;
	color: b50208;
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
}

.inputbox {
	font-size: 9pt;
	color: #333333;
	line-height: 13pt;
	border: 1pt solid #CCCCCC;
	font-family: "Geneva", "Arial", "Helvetica", "sans-serif";
}

#btnSubmit2, #btnReset2 {
	cursor: pointer;
	background-color: red;
	color: white;
	width: 65px;
	height: 25px;
	border: solid 1px #ccc;
	border-radius: 15px;
}

#registerForm {
	max-width: 800px;
	margin: 100px auto;
	border: solid 2px red;
	padding-bottom: 20px;
}

#registerForm .head-title {
	position: relative;
	background-color: red;
	color: white;
	text-indent: 150px;
}

#registerForm .head-title .icon {
	position: absolute;
	left:20px;
	top:-80px;
}

#registerForm .table {
	width: 100%;
    padding: 20px 10px;
}

#registerForm  td.label {
	text-align: right;
	width: 25%;
	border-right:solid 1px #c9c9c9;
	background-color:#c9c9c9;
}

#registerForm  td.inputs {
	border-top: solid 1px #c9c9c9;
    border-bottom: solid 1px #c9c9c9;
	border-right:solid 1px #c9c9c9;
}

#registerForm input {
	border-radius: 4px;
	line-height: 20px;
	background-color: white;
	background-image: none;
	font: inherit;
	font-family: inherit;
	box-shadow:2px 2px #c9c9c9;
}

#registerForm .regBox {
	letter-spacing: 3px;
	line-height: 20px;
}

#registerForm .declare {
	text-align: center;
}