<!DOCTYPE html>
<!-- imbus - Simple HTML Template v1.0 -->

<!--[if lt IE 7]>	<html dir="ltr" lang="en-US" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>		<html dir="ltr" lang="en-US" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>		<html dir="ltr" lang="en-US" class="lt-ie9"><![endif]-->
<!--[if IE 9]>		<html dir="ltr" lang="en-US"  class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]>	<!--><html dir="ltr" lang="en-US" class="gt-ie9 non-ie"> <!--<![endif]-->
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta name="author" content="Granthweb">
    <meta name="description" content="imbus - Simple HTML Template">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">

    <!-- mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- favicon -->
    <link rel="icon" href="/static/images/favicon.ico" type="image/png">

    <!-- page title -->
    {% block title_bar %}
    <title>Home - Mr. LOOP </title>
    {% endblock %}
    <!-- css stylesheets -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}plugins/rs-plugin/css/settings.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/skin_blue.css" rel="stylesheet" type="text/css">
    {% block plugin_css %}{% endblock %}

    <!-- js head -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}plugins/jquery-1.8.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}plugins/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
</head>

<!-- body -->
<body id="top" class="stickymenu stickyfooter">
{% include 'googleanalystic.html' %}
<!-- #wrapper -->
<div id="wrapper">
    {% include "common_elem/top_header.html" %}
    <div id="header" class="wrapper">
        <div id="logo" class="container fullwidth"><a href="/"><img src="{{ STATIC_URL }}images/logo.png" alt="Mr.LOOP"></a></div>
        {% if isLogin == false  %}
            {% include "common_elem/navigator.html" %}
        {% endif %}

        {% if path == '/'  %}
            {% include "common_elem/header.html" %}
        {% endif %}

    </div>

    {% block mainContent %}{% endblock %}

{% block top_footContent %}
    {% include "common_elem/top_footer.html" %}
{% endblock %}
<div id="navigator_container">
    {% block navigator_block %}
    {% endblock %}
</div>

{% block main_footContent %}
    {% include "common_elem/footer.html" %}
{% endblock %}


{% block social_block %}
    {% include "common_elem/social_block.html" %}
{% endblock %}

<div id="scroll-top"><a href="#top"></a></div>
</div>
<!-- /#wrapper -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5&appId=793720180678121";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% block jquery_plugin_block %}
<!-- js body -->
<script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery.inview.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery.lavalamp-1.3.5.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery.isotope.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
{% endblock %}

</body>
<!-- /body -->
</html>
