{% extends "adminPanel/base.html" %}

{% block title_bar %}
    <title xmlns="http://www.w3.org/1999/html"> Administrator Control Panel Index- Mr. LOOP </title>
{% endblock %}

{% block navigator_block %}
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">WebSite</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#video" data-toggle="tab">VIDEO</a></li>
            <li><a href="#partners" data-toggle="tab">Partners</a></li>
            <li><a href="#customers" data-toggle="tab">Customers</a></li>
            <li><a href="#blog" data-toggle="tab">Blog</a></li>
            <li><a href="#products" data-toggle="tab">Products</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block mainContent %}
<div class="main-content container">
    <h1 class="main-title">{{ Slogan }}</h1>
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane fade active in well-material-indigo-500" id="video">
                <div class="col-lg-6">
                    <h3 class="sub-title text-info">Video</h3>
                    <div class="well">
                        <form id="form_video" class="form-group-material-cyan-500" method="POST" action="/Admin/video/save/">{% csrf_token %}
                            <table class="table-responsive" style="width:95%;">
                                <tr><td>{{ form3.title }}</td></tr>
                                <tr><td>{{ form3.video_url }}</td></tr>
                                <tr><td>{{ form3.content }}</td></tr>
                            </table>
                            <a class="btn btn-fab btn-raising btn-material-indigo-500 submitBtn plusBtn-corner">
                                <i class="mdi-content-add-box"></i>
                            </a>
                            <a class="btn btn-fab btn-raising btn-material-blue editBtn plusBtn-corner-second">
                                <i class="mdi-content-drafts"></i>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade well-material-blue-grey-700" id="partners">
                <div class="col-lg-6">
                    <h3 class="sub-title text-info">Partner</h3>
                    <div class="well">
                        <form id="form_partner" class="form-group-material-cyan-500" method="POST" action="/Admin/partners/save/" enctype="multipart/form-data">{% csrf_token %}
                            <table class="table-responsive" style="width:95%;">
                                <tr><td>{{ form4.company }}</td></tr>
                                <tr><td>{{ form4.trademark }}</td></tr>
                                <tr><td>{{ form4.website }}</td></tr>
                                <tr><td>{{ form4.slogan }}</td></tr>
                                <tr><td>{{ form4.testimonial }}</td></tr>
                            </table>
                            <a class="btn btn-fab btn-raising btn-material-indigo-500 submitBtn plusBtn-corner">
                                <i class="mdi-content-add-box"></i>
                            </a>
                            <a class="btn btn-fab btn-raising btn-material-blue editBtn plusBtn-corner-second">
                                <i class="mdi-content-drafts"></i>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade well-material-blue-700" id="customers">
                <div class="col-lg-6">
                    <h3 class="sub-title text-info">Customers</h3>
                    <div class="well">
                        <form id="form_customer" class="form-group-material-cyan-500" method="POST" action="/Admin/customers/save/">{% csrf_token %}
                            <table class="table-responsive" style="width:95%;">
                                <tr><td>{{ form5.company }}</td></tr>
                                <tr><td>{{ form5.email }}</td></tr>
                                <tr><td>{{ form5.bill_address }}</td></tr>
                                <tr><td>{{ form5.phonenum }}</td></tr>
                            </table>
                            <a class="btn btn-fab btn-raising btn-material-indigo-500 submitBtn plusBtn-corner">
                                <i class="mdi-content-add-box"></i>
                            </a>
                            <a class="btn btn-fab btn-raising btn-material-blue editBtn plusBtn-corner-second">
                                <i class="mdi-content-drafts"></i>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade well-material-green-700" id="blog">
                <div class="col-md-6">
                    <h3 class="sub-title text-info">News</h3>
                    <div class="well">
                        <form id="form_blog" class="form-group-material-cyan-500" method="POST" action="/Admin/news/save/">{% csrf_token %}
                            <table class="table-responsive" style="width:95%;">
                                <tr><th>{{ form2.title.label }}</th><td>{{ form2.title }}</td></tr>
                                <tr><th>{{ form2.category.label }}</th><td>{{ form2.category }}</td></tr>
                                <tr><th>{{ form2.public_date.label }}</th><td>{{ form2.public_date }}</td></tr>
                                <tr><th>{{ form2.content.label }}</th><td>{{ form2.content }}</td></tr>
                            </table>
                            <a class="btn btn-fab btn-raising btn-material-indigo-500 submitBtn plusBtn-corner">
                                <i class="mdi-content-add-box"></i>
                            </a>
                            <a class="btn btn-fab btn-raising btn-material-blue editBtn plusBtn-corner-second">
                                <i class="mdi-content-drafts"></i>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade well-material-purple-700" id="products">
                <div class="col-md-6">
                    <h3 class="sub-title text-info">Product Spec</h3>
                    <div class="well">
                        <form id="form_spec" class="form-group-material-cyan-500" method="POST" action="/Admin/products/save/" enctype="multipart/form-data">{% csrf_token %}
                            <table class="table-responsive" style="width:95%;">
                                <tr><th>{{ form1.name.label }}</th><td>{{ form1.name }}</td></tr>
                                <tr><th>{{ form1.eng_name.label }}</th><td>{{ form1.eng_name }}</td></tr>
                                <tr><th>{{ form1.interface.label }}</th><td>{{ form1.interface }}</td></tr>
                                <tr><th>{{ form1.coverage.label }}</th><td>{{ form1.coverage }}</td></tr>
                                <tr><th>{{ form1.distance.label }}</th><td>{{ form1.distance }}</td></tr>
                                <tr><th>{{ form1.speeds.label }}</th><td>{{ form1.speeds }}</td></tr>
                                <tr><th>{{ form1.support.label }}</th><td>{{ form1.support }}</td></tr>
                                <tr><th>{{ form1.platforms.label }}</th><td>{{ form1.platforms }}</td></tr>
                                <tr><th>{{ form1.flowchart.label }}</th><td>{{ form1.flowchart }}</td></tr>
                                <tr><th>{{ form1.launch_date.label }}</th><td>{{ form1.launch_date }}</td></tr>
                                <tr><th>{{ form1.comments.label }}</th><td>{{ form1.comments }}</td></tr>
                                <tr><th>{{ form1.prices.label }}</th><td>{{ form1.prices }}</td></tr>
                            </table>
                            <a class="btn btn-fab btn-raising btn-material-indigo-500 submitBtn plusBtn-corner">
                                <i class="mdi-content-add-box"></i>
                            </a>
                            <a class="btn btn-fab btn-raising btn-material-blue editBtn plusBtn-corner-second">
                                <i class="mdi-content-drafts"></i>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jquery_package_block %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{{ STATIC_URL }}admin/js/corsSol.js"></script>
    <script src="{{ STATIC_URL }}admin/js/editor.js"></script>
    <script src="{{ STATIC_URL }}admin/js/snackbar.min.js"></script>
    <script>
        $(document).ready(function(){
            //$.snackbar({content: "Testing.", style: "toast", timeout: 1000 }).show();

            $('.tab-pane .well .submitBtn').click(function(){
                var s = $(this.parentNode);
                /*
                var result = '{';
                $.each(s.serializeArray(), function(i, field){
                    result += "\""+field.name+"\":"+field.value+",";
                });
                result += '}';
                submitClick(result,s.attr('action'));*/
                s.submit();
            });

            $('.tab-pane .well .editBtn').click(function(){
                var s = $(this.parentNode);
                var url = s.attr('action').replace('save/','edit/1/');
                editClick(url, s);
            });

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        $.snackbar({content: "{{ message }}", style: "toast", timeout: 5000}).show();
                    {% else %}
                        {% if message.tags == 'warning' %}
                            $.snackbar({content: "{{ message }}", style: "toast", timeout: 5000}).show();
                        {% else %}
                            $.snackbar({content: "{{ message }}", style: "snackbar", timeout: 5000}).show();
                        {% endif %}
                    {% endif %}

                {% endfor %}
            {% endif %}
        });
    </script>
{% endblock %}