{% extends "adminPanel/base.html" %}
{% block title_bar %}
    <title> Please Login In </title>
{% endblock %}
{% block plugin_css %}
    <link href="{{ STATIC_URL }}admin/css/style.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block mainContent %}
<div id="main" class="wrapper">
    <div class="main-content container">
        <div class="row">
            <form id="login-form" method="post" action="/login/">{% csrf_token %}
                <div class="row span5 offset3">
                    <p class="span4">{{ login_form.username }}</p>
                    <p class="span4">{{ login_form.password }}</p>
                    <p class="span4"><a href="#">Forgot your password?</a></p>
                </div>
                <div class="row span4">
                    <p class="span3"><button class="btn-large btn-style1" type="reset" data-dismiss="modal">Close</button></p>
                    <p class="span3"><button class="btn-large btn-style1" type="submit">Login</button></p>
                    <p class="span3"><input type="checkbox" id="remember_me" class="pull-left"><label class="check" style="margin-left: 10px; padding-left: 10px;" for="remember_me">Remember me</label></p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}