{% extends "base.html" %}

{% block title_bar %}
    <title>Solutions - Mr. LOOP </title>
{% endblock %}

{% block mainContent %}
    <div class="main-content container">
        <div class="type-post clearfix">
            <div class="post">
                <div class="post-header">
                    <img src="{{ STATIC_URL }}content/m2card.jpg" alt="feature Picture">
                </div>
                <h2 class="main-title">802.11ad m.2 Card Solution</h2>

                <p class="sub-title" style="text-align: left;"></p>
                <div class="clearfix"></div>
                <div class="space-45"></div>
                <div class="row" style="background-color: transparent;">
                    <div class="one-half">
                        <h4><span class=""></span>Applications</h4>
                        <ul class="list-dot">
                            <li>Wireless high speed data transfer. 1.2Gbps including read/write</li>
                            <li>4K streaming H.264 60fps</li>
                            <li>Miracast Suitable for Laptop - Smart TV - Portable Devices</li>
                            <li>Broadcasting. From 1 transceiver to multiple receivers.</li>
                            <li>m.2 slot support B & M Key</li>
                        </ul>
                    </div>
                    <div class="one-half last">
                        <h4>Digital Input/Output</h4>
                        <p>USB3.0</p>
                        <p>SPI for debug and advanced use.</p>
                        <h4>Wireless Range</h4>
                        <ul class="list-dot">
                            <li>P2P Streaming up to 10m in-room</li>
                            <li>P2P Data transfer 1.2Gbps to 3m</li>
                            <li>P2P Broadcasting up to 10m in-room</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="space-20"></div>
                </div>

                <div class="row" style="background-color: transparent;">
                    <div class="one-half">
                        <h4>Key Features</h4>
                        <ul class="list-dot">
                            <li>60GHz wireless video & data transfer free from interference</li>
                            <li>100 mil second latency for minimal image lag</li>
                            <li>Wide support for cross-platform
                                <ul class="list-minus">
                                    <li>Window</li>
                                    <li>Android</li>
                                    <li>OS X</li>
                                    <li>Linux</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="one-half last">
                        <h4>Operating Frequency</h4>
                        <p>57GHz to 66GHz</p>
                        <h4>Operating Temperature</h4>
                        <p> -40 to 85 degrees Celsius ambient temperature</p>
                        <h4>Module Dimensions</h4>
                        <p> 22mm x 30mm</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="space-20"></div>
                </div>

                <div class="row" style="background-color: transparent;">
                    <div class="one-half">
                        <h4>Benefits Summary</h4>
                        <p>
                            <ul class="list-dot">
                                <li>Customized antenna design(optional)</li>
                                <li>Modules are performance tested and regulatory approved</li>
                                <li>Easy to use and installation</li>
                                <li>Simple and elegant way to connect video source to video sink, eliminating the clutter od messy cables.</li>
                            </ul>
                        </p>
                        <h4>Industry-Standard Compliance</h4>
                        <p>USB 3.0</p>
                    </div>
                    <div class="one-half last">
                        <h4>System Requirement</h4>
                        <p><ul class="list-dot">
                            <li>CPU: i5 ~ i7 </li>
                            <li>HD: SSD </li>
                            <li>USB3.0</li>
                            <li>USB2.0 (Maximum speed 160 ~ 200 mbps )</li>
                            </ul>
                        </p>
                        <h4>MLWGU3V2-D Package Content</h4>
                        <ul class="list-dot">
                            <li>One MLWGU3V2 module</li>
                            <li>One USB Controller</li>
                        </ul>
                        <h4>Ordering Information</h4>
                        <p>Part number: MLWGU3V2-M2</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="space-20"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-30"></div>
{% endblock %}