{% extends "base.html" %}

{% block title_bar %}
    <title>Products - {{ Eng_Title }} - Mr. LOOP </title>
{% endblock %}


{% block mainContent %}
	<div id="wrapper">
		<!-- #header panel -->
		<div id="header-panel" class="wrapper header-parallax">
			<div class="header-image header-image-portfolio-single container"></div>
			<div class="page-title">
                <h1>{{ Head_Title }}</h1>
			</div>
		</div>
		<!-- /#header panel --> 
		
		<!-- #main -->
		<div id="main" class="wrapper">
			<div class="main-content container">
				<h2 class="main-title">{{ Eng_Title }}
					<span class="title-meta clearfix">
						<span><a href="#" class="prev"></a></span>
						<span><a href="#" class="back"></a></span>
						<span><a href="#" class="next"></a></span>					
					</span>
				</h2>
				<div class="type-portfolio type-portfolio-half clearfix">
					<!-- portfolio single content -->
					<div class="post">
						<div class="row">
							<div class="post-header span8">
                                <img src="/{{ feature_pic }}" alt="">
							</div>
							<div class="post-body span4 row">
								<h2>Project Description</h2>
                                <p>{{ comments }}</p>
								<hr class="separator">
								<h2>Project Details</h2>
								<ul class="post-meta">
                                    <li><span>Interface </span>
                                        {% for ins in Interface %}
                                            <label class="label label-important" style="margin-left: 5px;">{{ ins }}</label>
                                        {% endfor %}
                                    </li>
                                    <li><span>Speed: </span>{{ speeds }}</li>
                                    <li><span>Distance: </span>{{ distance }}</li>
                                    <li><span>Launch Date: </span>{{ launch_date }}</li>
                                    <li><span>Platforms: </span>
                                        {% for ins in platforms %}
                                            <label class="label label-info" style="margin-left: 5px;">{{ ins }}</label>
                                        {% endfor %}
                                    </li>
                                    <li><span>Supports: </span>
                                        {% for ins in supports %}
                                            <label class="label badge-success" style="margin-left: 5px;">{{ ins }}</label>
                                        {% endfor %}
                                    </li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /portfolio single content -->					

                {% include 'products/sliders.html' %}
					
				</div>				
			</div>
		</div>
		<!-- /#main --> 
	</div>
{% endblock %}