{% extends "base.html" %}

{% block title_bar %}
    <title>Products - {{ Eng_Title }} - Mr. LOOP </title>
{% endblock %}


{% block mainContent %}
    <div id="wrapper">
		<!-- #header panel -->
		<div id="header-panel" class="wrapper header-parallax">
			<div class="header-image header-image-portfolio-single container"></div>
			<div class="page-title">
				<h1>{{ Head_Title }}</h1>
			</div>
		</div>
		<!-- /#header panel --> 
		
		<!-- #main -->
		<div id="main" class="wrapper">
			<div class="main-content container">
				<h2 class="main-title">{{ Eng_Title }}
				</h2>
				<div class="type-portfolio clearfix">
					<!-- portfolio single content -->
					<div class="post">
						<div class="post-header">
							<div class="post-slider slider clearfix">
								<ul class="slides">
									<li><a href="#"><img src="/{{ feature_pic }}" alt=""></a></li>
								</ul>
								<a href="#" class="slider-control-prev"></a>	
								<a href="#" class="slider-control-next"></a>	
							</div>
						</div>
						
						<div class="post-body row">
							<div class="span8">
								<h2>Project Description</h2>
								<p>{{ comments|linebreaksbr}}</p>
							</div>
							<div class="span4">
								<h2>Project Details</h2>
								<ul class="post-meta">
									<li><span>Interface </span>
                                        {% for ins in Interface %}
                                            <label class="label label-important" style="margin-left: 5px;">{{ ins }}</label>
                                        {% endfor %}
                                    </li>
                                    <li><span>Speed: </span>{{ speeds }}</li>
                                    <li><span>Distance: </span>{{ distance }}</li>
									<li><span>Launch Date: </span>{{ launch_date }}</li>
									<li><span>Platforms: </span>
                                        {% for ins in platforms %}
                                        <label class="label label-info" style="margin-left: 5px;">{{ ins }}</label>
                                        {% endfor %}
                                    </li>
                                    <li><span>Supports: </span>
                                        {% for ins in supports %}
                                            <label class="label badge-success" style="margin-left: 5px;">{{ ins }}</label>
                                        {% endfor %}
                                    </li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /portfolio single content -->
                    {% include 'products/sliders.html' %}
				</div>				
			</div>
		</div>
		<!-- /#main --> 
	</div>
{% endblock %}
