{% extends "base.html" %}

{% block title_bar %}
    <title> {{ Title }} </title>
{% endblock %}

{% block mainContent %}
	<div id="wrapper">
        <!-- #main -->
		<div id="main" class="wrapper">
			<div class="main-content container">
				<h2 class="main-title">{{ main.mainTitle|capfirst }}</h2>
                <div class="row clearfix">
                    <div class="one-third">
                        <p class="sub-title" style="">
                            {{ main.description|linebreaksbr }}
                        </p>
                    </div>
                    <div class="two-third last">
                        <img src="{{ main.featureImg }}" />
                    </div>
                </div>

                <div class="space-45"></div>

{% if isNewFeatures %}
                    <div class="tabs-wrapper tabs-centered clearfix">
                        <ul class="tabs">
                            {% for field in fields %}
                                <li {% if forloop.first %} class="current" {% endif %}>
                                    <a>{{ field.fields }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% include 'products/extensions/portfolio.html' %}
{% endif %}

                {% include 'products/extensions/singleton.html' %}
            </div>
        </div>
        <!-- /#main -->
    </div>
{% endblock %}