
<h2>Latest Projects</h2>
<ul class="post-list row">

    <!-- .post -->
    {% for item in list %}
    <li class="post span3 has-overlay">
        <div class="post-inner">
            <div class="post-header" style="max-height: 124px;">
                <a href="/functions/{{ item.id }}"><img src="/{{ item.flowchart }}" alt=""></a>
            </div>
            <div class="post-body">
                <h2><a href="/functions/{{ item.id }}">{{ item.eng_name }}</a></h2>
            </div>
            <div class="post-overlay">
                <div class="post-overlay-meta">
                    <h2>{{ item.eng_name }}</h2>
                    <a href="#">{{ item.platforms }}</a>
                </div>
                <ul class="post-overlay-icons">
                    <!--<li><span></span><a href="{{ STATIC_URL }}content/portfolio/original_1.jpg" class="overlay-icon-more magnific-popup"></a></li>-->
                    <li><span></span><a href="/functions/{{ item.id }}" class="overlay-icon-link"></a></li>
                </ul>
            </div>
        </div>
    </li>
    {% endfor %}
    <!-- /.post -->
</ul>
