{% extends "base.html" %}

{% block title_bar %}
    <title>Solutions - Mr. LOOP </title>
{% endblock %}

{% block mainContent %}
		<!-- #main -->
		<div id="main" class="wrapper">
			<div class="main-content container">
				<h2 class="main-title">Successful Projects</h2>
				<p class="sub-title">Here are Masterpiece based on Our Expertise</p>
				<div class="portfolio portfolio-isotope">
				
					<!-- .portfolio-filter -->
					<div class="portfolio-filter tabs-wrapper tabs-centered clearfix">
						<ul class="tabs">
                            <li class="current"><a href="#">All</a></li>
                            {% for cat in cates %}
							    <li data-filter="{{ cat.hashtag }}"><a href="#">{{ cat.fields }}</a></li>
                            {% endfor %}
						</ul>
					</div>
					<!-- /.portfolio-filter -->

					<!-- .portfolio-posts -->	
					<ul class="portfolio-posts row" style="min-height: 220px;">
                        {% for row in portfolio %}
                            <li class="post span4 has-overlay" data-filter="{{ row.category.hashtag }}">
                                <div class="post-inner">
                                    <div class="post-header" style="max-height: 152px;">
                                        <a href="/products/stories/{{ row.id }}"><img src="/{{ row.product_image }}" alt=""></a>
                                    </div>
                                    <div class="post-body">
                                        <h2><a href="/products/stories/{{ row.id }}">{{ row.product_name }}</a></h2>
                                    </div>
                                    <div class="post-overlay">
                                        <div class="post-overlay-meta">
                                            <h2>{{ row.product_desc|truncatechars:40 }}</h2>
                                            <a href="#">{{row.category.hashtag}}</a>
                                        </div>
                                        <ul class="post-overlay-icons">
                                            <li><span></span><a href="/{{ row.product_image }}" class="overlay-icon-more magnific-popup"></a></li>
                                            {% if False %}<li><span></span><a href="{{ row.product_link }}" class="overlay-icon-link"></a></li>{% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
						{% empty %}

                        {% endfor %}
                        <!-- /.post -->
					</ul>
					<!-- /.portfolio-posts -->
					
				</div>

                <!-- pagination -->
                <div class="pagination-wrapper row">
                    <div class="pagination-info span6">Page {{ current }} of {{ total_page }}</div>
                    <ul class="pagination">
                        {% for page in pagination %}
                            {% if page == current %}
                                <li class="current"><span class="page-number">{{ page }}</span></li>
                            {% else %}
                                <li><a href="/news/view/?page={{ page }}" class="page-number">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if next %}
                            <li><a href="/news/view/?page={{ next }}" class="page-next">Next</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /pagination -->
				
			</div>
		</div>
		<!-- /#main --> 
{% endblock %}
