<!-- #footer -->
<div id="footer" class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span8">
                <!-- footer wiget area 1 -->
                <div class="widget">
                    <div class="fb-page" data-href="https://www.facebook.com/mrloop.tw/" data-tabs="timeline" data-width="500" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/mrloop.tw/"><a href="https://www.facebook.com/mrloop.tw/">巽晨國際股份有限公司/ MR. LOOP</a></blockquote>
                        </div>
                    </div>
                </div>
                <!-- /footer wiget area 1 -->

            </div>
            <div class="span4">
                <!-- footer wiget area 3 -->
                <div class="widget">
                    <h4>
                        <span class="circle">
                            <span class="circle-border"></span>
                            <span class="circle-inner"><span class="circle-icon-mail"></span></span>
                        </span> Get In Touch</h4>
                    <p>Address: <a href="https://goo.gl/maps/pp3UVXDBUxk" class="link-style2" target="_blank">7F-6., No. 237, Sec. 1, Datong Rd., Xizhi Dist., New Taipei City 221, Taiwan</a></p>
                    <p>E-mail: <a href="mailto:service@mrloop.com.tw" class="link-style2">service@mrloop.com.tw</a></p>
                    <p>Tel: +886-2-26486697</p>
                </div>
                <!-- /footer wiget area 3 -->
            </div>
        </div>
    </div>
</div>
<!-- /#footer -->
