<!-- #header panel -->
<div id="header-panel" class="wrapper">
    <div class="header-overlay"></div>
    <div class="rev-slider slider container fullwidth">
        <div class="fullwidthbanner-container">
            <div class="fullwidthabnner">
                <ul>
                    <li data-transition="fade" data-slotamount="1">
                        <img src="{{ STATIC_URL }}content/slides/mg360_b_2.jpg" alt="">
                    </li>
                    <li data-transition="fade" data-slotamount="1">
                        <img src="{{ STATIC_URL }}content/slides/web_03-02.jpg" alt="">
                    </li>
                    <li data-transition="fade" data-slotamount="1">
                        <img src="{{ STATIC_URL }}content/slides/web_03-04.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <a href="#" class="slider-control-prev"></a>
        <a href="#" class="slider-control-next"></a>
    </div>
</div>
<!-- /#header panel -->
