<!-- #primary-navigation -->
<div id="primary-navigation" class="container fullwidth">

    <!-- .menu-responsive -->
    <a class="menu-responsive"><span class="menu-icon-nav"></span><span class="menu-title">Navigation</span></a>
    <!-- /.menu-responsive -->

    <!-- .menu -->
    <ul class="menu clearfix">
        <li class="current"><a id="logo_h" href="/"><img src="{{ STATIC_URL }}images/logo_h.png" alt="Millitronic"></a></li>
        <li>
            <a href="/applications/">Application<br/>
                <span>Keen Knowledge of The WiGig Market</span>
            </a>
        </li>
        <li><a>Solution<br/><span>Wireless Gigabit and 5G AIoT Solution</span></a>
            <ul>
                <li><a href="/solutions/networks/">Networking Product</a></li>
                <li><a href="/solutions/vitrualization/">Wireless Virtualized Product ( coming soon )</a></li>
                <li><a>Wireless Edge AI Product ( coming soon )</a></li>
                <!--<li><a>WiGig Infrastructure ( coming soon ) </a></li>-->
            </ul>
        </li>
        <li><a href="/technology/">Technology<br />
            <span>MMW Software Defined Network and Virtualization</span></a>
        </li>
        <li><a href="/support/">Support & Service<br/><span>Dedicated Focus on Customer Service</span></a>
        </li>
        <!--<li><a href="/news/"><span class="menu-icon-about"></span>News</a></li>-->
        <!--<li><a href="/about/history/">About</a></li>-->
        <!--<li><a href="/contactus/">Contact</a></li>-->
    </ul>
    <!-- /.menu -->
</div>
<!-- /#primary-navigation -->

<!-- #secondary-navigation -->
{% if inApplications %}
<div id="secondary-navigation">
    <nav id="nav">
        <ul class="menu clearfix">
            <li><a href="#network">WiGig Network/5G</a></li>
            <li><a href="#docker">Wireless Gigabit Dock</a></li>
            <li><a href="#mr_vr_ar">Mixed reality</a></li>
            <li><a href="#stream">4k/8k video stream</a></li>
            <li><a href="#edgeAI">Smart drone with nVidia edge AI</a></li>
        </ul>
    </nav>
</div>
{% endif %}
<!-- /#secondary-navigation -->