<h2 class="main-title">PartnerShip List</h2>
<div class="brands slider carousel clearfix">
    <ul class="slides" style="min-height:220px;">
        {% for logo in partnerships %}
	{% if logo.id > 5%}
        <li><a href="{{ logo.website }}"><img src="{{ logo.trademark }}" alt=""></a></li>
	{% endif %}
	{% endfor %}
    </ul>
    <ul class="slider-controls">
        <li><a href="#" class="prev"></a></li>
        <li><a href="#" class="next"></a></li>
    </ul>
</div>
<h2 class="main-title">Why choose Mr.LOOP</h2>
<p class="sub-title">Fastest Wireless Dongle in The World</p>
<!-- tab -->
<div class="tabs-wrapper tabs-centered clearfix">
    <ul class="tabs">
        {% for logo in partnerships %}
            {% if forloop.first %}
                <li class="current">
            {% else %}
                <li>
            {% endif %}
		{% if logo.id < 6 %}
            <a href="#">{{ logo.company }}</a></li>
		{% endif %}
        {% endfor %}
    </ul>
</div>
<ul class="tabs-content">
    {% for logo in partnerships %}
        {% if forloop.first %}
            <li class="current">
        {% else %}
            <li>
        {% endif %}
	{% if logo.id < 6 %}
        <div class="tab-title"><a href="#">{{ logo.company }}</a></div>
        <div class="tab-content">
            <img src="{{ logo.trademark }}" class="alignleft" alt="{{ logo.company }}">
            <h4>{{ logo.slogan|title }}</h4>
            <p>{{ logo.testimonial }}</p>
        </div>
	{% endif %}
    </li>
    {% endfor %}
</ul>
<div class="nspace-20"></div>
<!-- /tab -->
