<!-- #bottom -->
<div id="bottom" class="wrapper">
    <div class="container">
        <div class="social-icons">
            <div class="social-icon-twitter"><a href="https://twitter.com/mrloopwigig" target="_blank"><img src="{{ STATIC_URL }}images/social_icons/social_twitter.png" alt="twitter"></a></div>
            <div class="social-icon-facebook"><a href="https://www.facebook.com/mrloop.tw/" target="_blank"><img src="{{ STATIC_URL }}images/social_icons/social_facebook.png" alt="facebook"></a></div>
            <div class="social-icon-youtube"><a href="https://goo.gl/TKkSmL" target="_blank"><img src="{{ STATIC_URL }}images/social_icons/social_youtube.png" alt="youtube"></a></div>
	{% if false %}
		<div class="social-icon-pinterest"><a href="#"><img src="{{ STATIC_URL }}images/social_icons/social_pinterest.png" alt="pinterest"></a></div>
            <div class="social-icon-youtube"><a href="#"><img src="{{ STATIC_URL }}images/social_icons/social_youtube.png" alt="youtube"></a></div>
            <div class="social-icon-vimeo"><a href="#"><img src="{{ STATIC_URL }}images/social_icons/social_vimeo.png" alt="vimeo"></a></div>
            <div class="social-icon-flickr"><a href="#"><img src="{{ STATIC_URL }}images/social_icons/social_flickr.png" alt="flickr"></a></div>
            <div class="social-icon-linkedin"><a href="#"><img src="{{ STATIC_URL }}images/social_icons/social_linkedin.png" alt="linkedin"></a></div>
            <div class="social-icon-rss"><a href="#"><img src="{{ STATIC_URL }}images/social_icons/social_rss.png" alt="rss"></a></div>
	{% endif %}
        </div>
        <div class="clearfix"></div>
        <p class="copyright">Copyright 2015 by <a href="#" class="link-style2">Mr. LOOP</a></p>
    </div>
</div>
<!-- /#bottom -->
