<!-- #header-info -->
<div id="header-info" class="wrapper">
    <div class="container fullwidth">
        <ul>
            <li><span class="header-icon-pin"></span>
	<a class="link-style2" href="https://goo.gl/maps/pp3UVXDBUxk" target="_blank">7F-6., No. 237, Sec. 1, Datong Rd., Xizhi Dist., New Taipei City 221, Taiwan</a>
	    </li>
            <li><span class="header-icon-mail"></span><a href="mailto:service@mrloop.com.tw" class="link-style2">service@mrloop.com.tw</a></li>
            <li><span class="header-icon-phone"></span>+886-2-26486697</li>
            {% if user.is_superuser %}
                <li><span class="icon-eye-open"></span><a href="/logout/">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<!-- /#header-info -->
