#banner { position: absolute; z-index: 210; right: 150px; top: 50px; min-height: 400px; height: 450px;}
#banner.event { background-size: 300px 400px; background-image: url(../images/420ad.png); background-repeat: no-repeat; }
#banner .reg-btn { position: absolute; bottom: 10px; margin: 0 95px; background-color: #01adf2; width: 100px;}

#bannerMask { position: absolute; top: 0px; height: 9999px; width: 2000px; background-color: #000; z-index: 201; opacity: 0.7 }

@media (max-width: 1920px){
    .tp-simpleresponsive { max-height: 560px !important; }
}

@media (max-width: 1440px){
    .tp-simpleresponsive { max-height: 390px !important; }
}

@media (max-width: 1280px){
    .tp-simpleresponsive { max-height: 330px !important; }
}

@media (max-width: 1024px){
    .tp-simpleresponsive { max-height: 290px !important; }
}

@media (max-width: 800px){
    .tp-simpleresponsive { max-height: 100px !important; }
}

.snackbar {
    background-color: #323232;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 0;
    -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0s linear 0.2s, padding 0s linear 0.2s, height 0s linear 0.2s;
    -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0s linear 0.2s, padding 0s linear 0.2s, height 0s linear 0.2s;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0s linear 0.2s, padding 0s linear 0.2s, height 0s linear 0.2s;
    -moz-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
}
.snackbar.snackbar-opened {
    padding: 14px 15px;
    margin-bottom: 20px;
    height: auto;
    -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0s linear 0.2s;
    -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0s linear 0.2s;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in, height 0s linear 0.2s, height 0s linear 0.2s;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
}
.snackbar.toast {
    border-radius: 200px;
}
#snackbar-container .snackbar-opened .snackbar-content { display: block; }
#snackbar-container .snackbar-content { display: none; }
#snackbar-container {
    position:absolute;
    z-index: 220;
    top:20px;
    right:20px;
    width: 320px;
}

