/*
v0.1 - 30.08.2018
Created by urganxx@mllitronic.com.tw
All rights reserved.
web: http://www.millitronic.com.tw
*/

@media screen and (max-width: 1920px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 1120px;
    }
}


.slider-control-prev, .slider-control-next {
    background-color: #01654a;
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 40px;
}

.slider-control-prev { background-image: url(../images/misc/L_arrow-100.png); left: 0; }
.slider-control-next { background-image: url(../images/misc/R_arrow-100.png); right: 0;}
.slider-control-prev:hover { background-color: #33a555; }
.slider-control-next:hover { background-color: #33a555; }

#logo_h img {
    width: 160px;
    margin-left: -10px;
    padding-top: 15px;
}

.fullscreen { width: 100%; }
.millitronic_style1 { color: #01654a; }
.millitronic_style2 { color: #33a555; }
.millitronic_style3, #nav .menu > li > a:hover { color: #73c585; }

#primary-navigation .menu li:hover > ul { z-index: 300; }
#primary-navigation { box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.3); }
#primary-navigation .menu li span {
    font-size: 12px;
    font-weight: 400;
    display:inline-block;
    padding-top: 5px;
    max-width: 145px;

}

#primary-navigation .menu li:first-child { right: 63%; }
#primary-navigation .menu li:hover span { color : #585858;}
#primary-navigation.stickynav .menu li span { display: none; }
#primary-navigation.stickynav { height: 45px; }
#primary-navigation.stickynav #logo_h img { padding-top: 0; }
#primary-navigation.stickynav .menu > li > a { width: 145px; }

#secondary-navigation {
    position: relative;
    z-index: 100;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    height: 45px;
    line-height: 3em;
    box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
}

#nav {
    position: relative;
    right: 0.5em;
    height: 3em;
    line-height: 3em;
}

#nav .menu {
    display: block;
    margin-left: 20%;
}

#nav .menu > li {
    position: relative;
    background-image: none;
    float: left;
    margin: 0;
    padding: 0;
}

#nav .menu > li > a {
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    color: #595857;
    display: block;
}

#secondary-navigation.sub_menu {
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    background: #FFFFFF;
}

.block {
    display: inline-block;
    border-top: 4px #000 solid;
    text-align: left;
    line-height: 22px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 15px;
    font-family: 'Lato';
    font-weight: 400;
    background: 95% 5% #DDE2E6 no-repeat;
}

.block > .content {
    padding: 15px 20px;
    height: 240px;
}

.block > .content > .block-title-meta {
    padding-bottom: 10px;
}

.block > .content  .block-content {
    height: 180px;
}

.block-title-meta > i.square {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: -2px 7px 0 0;
    vertical-align: middle;
    background-color: #000000;
}

.type-portfolio .post-header {
    margin-top: 20px;
    margin-left: 0;
}

.type-portfolio .post-body .row {
    margin-top: 20px;
    margin-left: 0;
}

.block2 {
    margin-top: 10px;
    display: inline-block;
    border-top: 4px #000 solid;
    text-align: left;
    line-height: 22px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 15px;
    font-family: 'Lato';
    font-weight: 400;
    background: 95% 5% #DDE2E6 no-repeat;
}

.block2 > .content > .block-title-meta {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
}

.block2 > .content {
    padding: 15px 20px;
    height: 180px;
}

.block3 {
    background: 95% 5% aliceblue no-repeat;
    box-shadow: #d9d9d9 2px 2px;
    margin: 5px 0;
}

.field_name {
    font-size: 24px;
    margin: 3px 0 10px;
}

.field_img {
    width: 300px;
    height: 200px;
    margin-top: 40px;
}


.block3 .middle-title {
    font-size: 16px;
    margin: 0 10px 5px;
}

.block3 .text-view {
    color: #585858;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: justify;
    padding: 5px 15px;
    margin-bottom: 5px;
}

.block3 .list-minor {
    margin: 5px 0;
}

.content .content-text {
    color: #585858;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}