/* -------------------------------------------------------------------------------- /
	
	imbus - Simple HTML Template v1.0
	Created by Granth (http://themeforest.net/user/Granth)
	v1.0 - 13.06.2013
	All rights reserved.
	web: http://www.granthweb.com
	twitter: http://twitter.com/#!/granthweb
	

	[1]		SETUP
	[2] 	LAYOUT
	[3] 	HEADER
	[4]		NAVIGATION	
	[5]		FOOTER
	[6]		WIDGETS
	[7]		FORM ELEMENTS	
	[8]		CONTENT
    [8.1] 	CONTENT COMMON
	[8.2] 	SHORTCODES
	[8.3]	SLIDER COMMON
	[8.4]	BLOG
	[8.5] 	BLOG SINGLE
	[8.6]	PORTFOLIO
	[8.7] 	PORTFOLIO SINGLE
	[8.8] 	COMMENTS
	[9]		PRICING TABLE
	[9.1]	PRICING TABLE - RESET
	[9.2]	PRICING TABLE - SETUP
	[9.3]	PRICING TABLE - LAYOUT
	[9.4]	PRICING TABLE - HEADER
	[9.5]	PRICING TABLE - BODY
	[9.6]	PRICING TABLE - FOOTER & BUTTONS
	[9.7]	PRICING TABLE - MEDIA QUERIES
	[9.8]	PRICING TABLE - STYLES	
	[10]	PLUGIN SPECIFIC STYLES
	[10.1]	LAVALAMP PLUGIN
	[10.2]	ISOTOPE PLUGIN
	[10.3]	SLIDER REVOLUTION
	[10.4] 	MAGNIFIC POPUP
	[11]	MEDIA QUERIES
	
/ -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- /
	[1]	SETUP - general settings, common classes
/ -------------------------------------------------------------------------------- */

	/* [ html & body ] */
	html {
		overflow-x:hidden;
		overflow-y:scroll;
	}
	body {
		background:#fff;
		color:#9c9c9c;
		font:14px/20px 'Lato', sans-serif;
		font-weight: 300;
		margin:0;
		padding:0 !important;
		position:relative;
	}

	/* [ headings ] */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color:#585858;
		font-weight:700;
		font-style: normal;
		margin:0 0 20px;
	}
	h1 {
		font-size:34px;
		line-height:36px;
	}
	h2 {
		font-size:28px;
		line-height:30px;
	}
	h3 {
		font-size:24px;
		line-height:28px;
	}
	h4 {
		font-size:22px;
		line-height:26px;
	}
	h5 {
		font-size:18px;
		line-height:22px;
	}
	h6 {
		font-size:16px;
		line-height:20px;
	}
	h4 small {
		font-size:16px;
		line-height:20px;
		color:inherit;
	}
	
	/* [ other html elements ] */
	
	p { margin:0 0 20px; }

	/* links */
	a { color:#33A555; }
	a:hover, 
	a:focus { 
		color:inherit;
		text-decoration:none;	
	}
	a.link-style1 { color:inherit; }
	a.link-style1:hover { color:#585858; }
	a.link-style2 {
		color:inherit !important;
		text-decoration:none !important;
	}	
	a.link-style2:hover {
		color:inherit !important;
		text-decoration:underline !important;
	}
	a.link-style3 {
		color:inherit !important;
		font-size:12px;
		font-weight:700;
		text-decoration:none !important;
	}
	a.link-style3:hover { color:#585858 !important; }		

	/* lists */
	ul {
		margin:0 0 20px;
		list-style:none;
	}
	ol {
		list-style-type:decimal;
		list-style-position:inside;
		margin:0 0 20px;
	}	
	ul ul, 
	ul ol, 
	ol ol,
	ol ul { margin-bottom:0; }
	ul li { padding-left:20px; }
	blockquote {
		border-left:solid 5px #bbbbbb;		
		color:#585858;
		margin:-9px 0 11px 20px;
		font-style:italic;
		padding-left:20px;		
	}
	code { white-space:pre-line; }
	iframe {
		border:none !important;
		display:block;
	}
    strong { font-weight:bold; }
    em { font-style:italic; }
	input,
	button,
	select,
	textarea {
		font-family: 'Lato', sans-serif;
		text-shadow:none !important;
	}
	strong { font-weight:700 !important; }

	/* [ common classes ] */

	/* aligns */
	.alignnone { margin:5px 20px 20px 0; }
	.aligncenter, div.aligncenter {
		display:block;
		margin:5px auto 5px auto;
	}
	.alignright {
		float:right;
		margin:5px 0 20px 20px;
	}
	.alignleft {
		float:left;
		margin:5px 20px 20px 0;
	}
	.aligncenter {
		display:block;
		margin:5px auto 5px auto;
	}
	a img.alignright {
		float:right;
		margin:5px 0 20px 20px;
	}
	a img.alignnone { margin:5px 20px 20px 0; }
	a img.alignleft {
		float:left;
		margin:5px 20px 20px 0;
	}
	a img.aligncenter {
		display:block;
		margin-left:auto;
		margin-right:auto
	}

	/* float & text alignment */
	.left { margin-right:10px !important; }
	.right { margin-left:10px !important; }
	.fleft { float:left !important; }
	.fright { float:right !important; }
	.tright { text-align:right !important; }
	.tcenter { text-align:center !important; }
	.tleft { text-align:left !important; }

	/* spaces */
	.no-space { margin-bottom:0 !important; }
	.space-5 { margin-bottom:5px !important; }
	.space-10 { margin-bottom:10px !important; }
	.space-15 { margin-bottom:15px !important; }
	.space-20 { margin-bottom:20px !important; }
	.space-25 { margin-bottom:25px !important; }
	.space-30 { margin-bottom:30px !important; }
	.space-35 { margin-bottom:35px !important; }
	.space-40 { margin-bottom:40px !important; }
	.space-45 { margin-bottom:45px !important; }
	.space-50 { margin-bottom:50px !important; }
	.space-55 { margin-bottom:50px !important; }
	.space-60 { margin-bottom:50px !important; }
	.nspace-5 { margin-bottom:-5px !important; }
	.nspace-10 { margin-bottom:-10px !important; }
	.nspace-15 { margin-bottom:-15px !important; }
	.nspace-20 { margin-bottom:-20px !important; }
	.nspace-25 { margin-bottom:-25px !important; }
	.nspace-30 { margin-bottom:-30px !important; }
	.nspace-35 { margin-bottom:-35px !important; }
	.nspace-40 { margin-bottom:-40px !important; }
	.nspace-45 { margin-bottom:-45px !important; }
	.nspace-50 { margin-bottom:-50px !important; }
	.nspace-55 { margin-bottom:-55px !important; }
	.nspace-60 { margin-bottom:-60px !important; }		
	.no-space { margin-bottom:0 !important; }
	.no-margin { margin:0 !important; }

	/* separator */
	.separator {
		border-bottom:solid 1px #bbb;		
		border-top:none;
		margin:25px 0;
	}
	
	/* columns */	
	.one-half,
	.one-third,
	.two-third,
	.one-fourth,
	.three-fourth,
	.one-fifth,
	.two-fifth,
	.three-fifth,
	.four-fifth,
	.one-sixth,
	.five-sixth {
		float:left;
		margin-right:2%;
		overflow:visible;
		position:relative;
	}
	.one-half { width:49%; }
	.one-third { width:32%; }
	.two-third { width:66%; }
	.one-fourth { width:23.5%; }
	.three-fourth { width:74.5%; }
	.last {
		clear:right;	
		margin-right:0 !important;
	}

	/* responsive video wrapper */
	.video-wrapper {
		height:0;
		padding-bottom:79.87%;	
		position:relative;
	}
	.video-wrapper iframe {
		border:none;	
		height:100%;
		left:0;
		margin:0;
		outline:none;
		position:absolute;
		top:0;
		max-width:100%;
		width:100%;
	}

	/* disable dotted outlines */
	:focus { outline:none !important; }
	::-moz-focus-inner { border:none !important; }
	a { outline:none !important;}	
	
	/* text selection */
	::-moz-selection {
		background:#01654A;
		color:#f2f2f2;
		text-shadow:none;
	}
	::selection {
		background:#01654A;
		color:#f2f2f2;
		text-shadow:none;
	}
	
	/* placeholder formatting */
	::-webkit-input-placeholder {
		opacity:1;		
	    -webkit-transition:opacity 0.2s ease-in-out;		
	    transition:opacity 0.2s ease-in-out;
	}
	[placeholder]:focus::-webkit-input-placeholder { opacity:0.3; }
	:-moz-placeholder { opacity:1; } /* Firefox 18- */
	::-moz-placeholder { opacity:1; } /* Firefox 19+ */
	:-ms-input-placeholder { opacity:1; }

	/* [ scroll top top ] */
	
	#scroll-top {
		bottom:40px;
		position:fixed;
		right:40px;
		z-index:100;
	}
	#scroll-top a {
		background:url(../images/misc/scroll_to_top.png) 0 0 no-repeat;
		display:block;
		height:40px;
		width:40px;
	}    
	#scroll-top:hover a { background-position:0 -40px; }

/* -------------------------------------------------------------------------------- /
	[2]	LAYOUT
/ -------------------------------------------------------------------------------- */

	#wrapper {
		background:#f2f2f2;		
		-moz-background-clip:content;
		-webkit-background-clip:content;
		background-clip:content-box;
		margin:0 auto;
		overflow:hidden;
		position:relative;
		width:100%;
	}
	.wrapper { 
		position:relative;
		width:100%;
	}
	.container { position:relative; }
	.container.fullwidth {
		padding-left:0 !important;
		padding-right:0 !important;
		width:100%;	
	}
	#main { background:#FFFFFF; z-index:100; }
	.main-content { padding: 0; }

	/* boxed */
	.boxed #wrapper, .boxed .wrapper { max-width:1020px; }	
	
	/* stickyfooter */
	.js-on .stickyfooter #wrapper {
		padding-bottom:5px;
		margin-bottom:-5px;	
	}
	.js-on .stickyfooter #bottom {
		bottom:0;	
		position:fixed;
		z-index:-1;
	}
	.js-on #footer.stickyfooter-bottom {
		-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);		
		-o-box-shadow:0 1px 2px rgba(0,0,0,0.2);
		-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
		box-shadow:0 1px 2px rgba(0,0,0,0.2);
	}

/* -------------------------------------------------------------------------------- /
	[3] HEADER
/ -------------------------------------------------------------------------------- */

	/* header info */
	#header-info {
		background:#01654A;
		font-size:13px;
		padding:12px 0 11px 0;
	}
	#header-info ul {
		float:left;
		margin:0;
		padding:0;
		position:relative;
		left:50%;
		list-style:none;	
	}
	#header-info ul li {
		color:#f2f2f2;		
		background:none;
		float:left;
		line-height:18px;		
		margin:0;
		padding:0 15px;		
		position:relative;
		right:50%;
	}
	#header-info ul li a { color:#f2f2f2; }

	/* header icons */
	span[class^="header-icon"] {
		display:inline-block;	
		height:20px;
		margin:-2px 7px 0 0;
		vertical-align:middle;	
		width:16px;	
	}
	.header-icon-pin { background:url(../images/header_icons/header_icon_pin.png) 50% 0 no-repeat; }
	.header-icon-mail { background:url(../images/header_icons/header_icon_mail.png) 50% 0 no-repeat; }
	.header-icon-phone { background:url(../images/header_icons/header_icon_tel.png) 50% 0 no-repeat; }	
	
	/*logo */
	#logo {
		padding:35px 0;
		text-align:center;
	}
	
	/* header panel - header image & map */
	#header-panel { overflow:hidden; }
	.header-overlay {
		background:#0b0b0b;
		position:absolute;
		z-index:100;
		width:100%;
		height:100%;
		opacity:0;
		-moz-transition:all 0.15s ease-in-out;
		-ms-transition:all 0.15s ease-in-out;
		-o-transition:all 0.15s ease-in-out;
		-webkit-transition:all 0.15s ease-in-out;
		transition:all 0.15s ease-in-out;
		visibility:hidden;

	}
	.header-overlay.visible {
		opacity:0.8;
		visibility:visible;
	 }
	/* header image */
	.header-image {		
		background-position:50% 0;
		background-repeat:no-repeat;
		background-size:cover!important;
		-moz-background-size:cover!important;
		-o-background-size:cover!important;
		-webkit-background-size:cover!important;
		background-attachment:scroll!important;		
		height:275px;
		position:relative;
		width:100%;		
		z-index:1;
	}
	.header-image-404 { background-image:url(../../content/headers/header_404.jpg); }	
	.header-image-about { background-image:url(../../content/headers/header_about.jpg); }
	.header-image-about_personal { background-image:url(../../content/headers/header_personal.jpg); }
	.header-image-blog { background-image:url(../../content/headers/header_blog.jpg); }	
	.header-image-home { background-image:url(../../content/headers/header_home.jpg); }	
	.header-image-portfolio { background-image:url(../../content/headers/header_portfolio.jpg); }
	.header-image-portfolio-single { background-image:url(../../content/headers/header_portfolio_single.jpg); }	
	.header-image-pricing { background-image:url(../../content/headers/header_pricing.jpg); }	
	.header-image-shortcodes { background-image:url(../../content/headers/header_shortcodes.jpg); }
	.header-image-typography { background-image:url(../../content/headers/header_typography.jpg); }	

	/* header map */
	#header-map {
		height:450px;
		position:relative;
	}
	#header-map img {
		max-width:none !important;
		width:auto;		
	}
	
	/* header panel title */
	.page-title {
		bottom:50px;
		float:left;
		left:50%;
		position:absolute;
		z-index:3;
	}
	.page-title h1 {
		color:#f2f2f2;	
		float:left;
		font-size:24px;
		line-height:25px;
		margin:0;	
		padding:11px 15px;
		position:relative;
		right:50%;
		text-align:center;
	}
	.page-title h1:before {
		content:'';			
		background:#313131;	
		height:100%;
		left:0;	
		opacity:0.9;
		position:absolute;
		top:0;
		width:100%;
		z-index:-1;
	}
	
/* -------------------------------------------------------------------------------- /
	[4] NAVIGATION
/ -------------------------------------------------------------------------------- */

	/* primary navigation */
	#primary-navigation {
		background:#f2f2f2;
		height:75px;
		overflow:visible;
		position:relative;
		z-index:200;
	}
	/* primary navigation - sticky */
	#primary-navigation.stickynav {
		-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);		
		-o-box-shadow:0 1px 2px rgba(0,0,0,0.2);
		-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
		box-shadow:0 5px 5px rgba(0,0,0,0.3);
		left:0;
		position:fixed;
		top:0;
		width:100%;
	}	

	/* responsive nav */
	#primary-navigation .menu-responsive {
		background:#585858;		
		color:#f2f2f2 !important;
		cursor:pointer;
		display:none;
		font-size:15px;
		font-weight:700;
		line-height:15px;
		max-width:360px;
		margin:0 auto;
		padding:15px 20px;
		position:relative;
	}

	/* desktop nav */
	#primary-navigation .menu {
		float:left;
		display:block;
		left:50%;
		list-style:none;				
		margin:0;
		position:relative;
	}
	#primary-navigation .menu li {
		float:left;		
		background-image:none;		
		margin:0;
		padding:0;
		right:50%;
	}
	#primary-navigation .menu > li {
		height:45px;
		position:relative;
	}
	#primary-navigation .menu > li:before {
		content:'';
		position:absolute;
		top:43px;
		background:#f2f2f2;
		width:100%;
		z-index:1;
	}
	#primary-navigation .menu li a {
		background-color:#f2f2f2;
		text-decoration:none;
	}
	#primary-navigation .menu > li > a {
		color:#585858;
		display:block;
		font-size:15px;
		font-weight:700;
		line-height:15px;
		padding-top:15px;
		padding-right:15px;
		position:relative;
	}
	#primary-navigation .menu > li:hover > a,
	#primary-navigation .menu > li.current > a { color:#01654A; }
	#primary-navigation .menu ul {
		-moz-border-radius-bottomleft:4px;
		-moz-border-radius-bottomright:4px;
		-webkit-border-bottom-left-radius:4px;
		-webkit-border-bottom-right-radius:4px;
		border-bottom-left-radius:4px;
		border-bottom-right-radius:4px;	
	}
	#primary-navigation .menu li > ul {
		background:#f2f2f2;	
		margin:0;
		opacity:0;
		visibility:hidden;
		position:absolute;
		-o-box-shadow:0 1px 2px rgba(0,0,0,0.2);
		-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
		-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
		box-shadow:0 1px 2px rgba(0,0,0,0.2);
		min-width:100%;
		white-space:nowrap;
		padding-top:2px;
		top:100%;
	}
	#primary-navigation .menu li:hover > ul {
		opacity:1;
		visibility:visible;
		padding-top:10px;
		-moz-transition:padding 0.15s linear, opacity 0.12s linear;
		-ms-transition:padding 0.15s linear, opacity 0.12s linear;
		-o-transition:padding 0.15s linear, opacity 0.12s linear;
		-webkit-transition:padding 0.15s linear, opacity 0.12s linear;
		transition:padding 0.15s linear, opacity 0.12s linear;		
	}

	#primary-navigation .menu ul ul {
		font-weight:normal;
		position:absolute;
		top:auto;
		margin-top:-45px;
		min-width:auto;
		left:100%;
		white-space:nowrap;		
	}

	#primary-navigation .menu ul > li:hover > ul {
		-moz-transition:margin 0.15s linear, opacity 0.12s linear;
		-ms-transition:margin 0.15s linear, opacity 0.12s linear;
		-o-transition:margin 0.15s linear, opacity 0.12s linear;
		-webkit-transition:margin 0.15s linear, opacity 0.12s linear;
		transition:margin 0.15s linear, opacity 0.12s linear;
		margin-top:-40px;	
	}
	/* submenu items */
	#primary-navigation .menu ul li {
		border-top:solid 1px #bbbbbb;
		float:none;
	}
	#primary-navigation .menu ul > li:last-child > a {
		-moz-border-radius-bottomleft:4px;
		-moz-border-radius-bottomright:4px;
		-webkit-border-bottom-left-radius:4px;
		-webkit-border-bottom-right-radius:4px;
		border-bottom-left-radius:4px;
		border-bottom-right-radius:4px;
	}
	#primary-navigation .menu ul li > a {
		color:#585858;
		display:block;
		font-size:16px;
		height:40px;
		line-height:40px;
		padding:0 20px;
	}
	#primary-navigation .menu ul li:hover > a,
	#primary-navigation .menu ul li.current > a { 
		background-color:#01654A; 
		color:#f2f2f2;
	}
	#primary-navigation .menu ul li:first-child,
	#primary-navigation .menu ul li:hover:first-child {
		border-top:solid 1px transparent;
		border-top:none;
	}
	
	/* menu icons */
	span[class^="menu-icon"] {
		display:inline-block;	
		height:14px;
		margin-right:7px;
		vertical-align:top;
		width:15px;
	}
	.menu-icon-home { background:url(../images/menu_icons/menu_icon_home.png) 50% 0 no-repeat; }
	.menu-icon-about { background:url(../images/menu_icons/menu_icon_about.png) 50% 0 no-repeat; }
	.menu-icon-features { background:url(../images/menu_icons/menu_icon_features.png) 50% 0 no-repeat; }
	.menu-icon-portfolio { background:url(../images/menu_icons/menu_icon_portfolio.png) 50% 0 no-repeat; }
	.menu-icon-blog { background:url(../images/menu_icons/menu_icon_blog.png) 50% 0 no-repeat; }
	.menu-icon-contact { background:url(../images/menu_icons/menu_icon_contact.png) 50% 0 no-repeat; }
	a:hover span[class^="menu-icon"] { background-position:50% -14px; }

	/* responsive nav icon */
	.menu-icon-nav { background:url(../images/menu_icons/menu_icon_nav_light.png) 50% 0 no-repeat !important; }
	
/* -------------------------------------------------------------------------------- /
	[5] FOOTER
/ -------------------------------------------------------------------------------- */

	/* top footer */
	#top-footer {
		color:#f2f2f2;
		background:#01654A;
		font-size:13px;
		min-height:18px;	
		padding:11px 0;
	}
	#top-footer ul {
		height:18px;
		margin:0;
		overflow:hidden;		
		position:relative;
	}
	#top-footer li {
		background:none;
		line-height:18px;
		margin:0;
		padding:0;
		position:relative;
	}
	#top-footer a { color:#f2f2f2; }
	#top-footer a:hover { color:#fff; }
	.top-footer-list-wrapper { position:relative; }
	.top-footer-list-wrapper .ticker li { margin:0 220px 0 35px !important; }
	.ticker-footer-icon {
		background:url(../images/misc/icon_footer_news.png) 0 0 no-repeat;
		display:block;
		float:left;	
		height:19px;
		margin-right:5px;	
		position:absolute;
		width:28px;	
	}
	.top-footer-list-controls {
		height:auto !important;	
		position:absolute !important;
		right:0;
		top:-3px;	
	}
	.top-footer-list-controls li { float:left; }
	.top-footer-list-controls a.follow { 
		margin-right:5px !important;
		position:relative;
		margin-top:3px;
		padding-left:16px;
		background:url(../images/misc/icon_footer_follow.png) 0 2px repeat-y;
	}
	.top-footer-list-controls a.follow:hover {
		background-position:0 -14px;
		color:#fff !important;
	}
	.top-footer-list-controls a {
		display:block;
		margin-left:5px;
	}
	.top-footer-list-controls a.arrow {
		display:block;
		height:24px;
		top:-5px;	
		width:24px;	
	}
	.top-footer-list-controls a.arrow { background:url(../images/misc/icon_footer_next_prev.png) 0 0 no-repeat; }
	.top-footer-list-controls a.arrow.next { background-position:-24px 0; }
	.top-footer-list-controls a.arrow:hover { background-position:0px -24px; }
	.top-footer-list-controls a.arrow.next:hover { background-position:-24px -24px; }
	
	/* footer */
	#footer {
		background:#FFF;
		padding:40px 0 0;
		-moz-transition:-moz-box-shadow 0.2s ease-in-out;
		-ms-transition:box-shadow 0.2s ease-in-out;
		-o-transition:-o-box-shadow 0.2s ease-in-out;
		-webkit-transition:-webkit-box-shadow 0.2s ease-in-out;
		transition:box-shadow 0.2s ease-in-out;	
		z-index:2;
	}
	
	/* bottom */
	#bottom {
		background:#f2f2f2;
		font-size:13px;
		padding:30px 0;
		position:relative;
		z-index:1;
	}
	.copyright {
		margin-bottom:0 !important;
		text-align:center;
	}
	/* top footer social icons */
	.social-icons {
		float:left;
		left:50%;	
		margin:0 auto 24px;
		position:relative;
	}
	div[class|="social-icon"] {
		float:left;
		margin:0 3px 6px;
		height:37px;
		right:50%;
		overflow:hidden;	
		position:relative;
		width:37px;	
	}
	div[class|="social-icon"] a {
		background:#585858;
		display:block;
		height:100%;
		position:relative;
		width:100%;	
	}
	div[class|="social-icon"] a:before {
		content:'';
		height:100% !important;	
		margin-top:1px;
		position:absolute;	
		top:100%;
		width:100%;		
		z-index:0;
	}
	.social-icon-twitter a:before { background:#2ea9e4; }
	.social-icon-facebook a:before { background:#3c5a98; }
	.social-icon-pinterest a:before { background:#cb2028; }
	.social-icon-youtube a:before { background:#df3434; }
	.social-icon-vimeo a:before { background:#0ec4ef; }
	.social-icon-flickr a:before { background:#ff0084; }
	.social-icon-linkedin a:before { background:#006699; }
	.social-icon-rss a:before { background:#fd6804; }
	div[class|="social-icon"] a {
		display:block;
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}
	div[class|="social-icon"] a:hover { margin-top:-38px; }
	div[class|="social-icon"] a:hover img { margin-top:1px; }
	div[class|="social-icon"] a img {
		position:relative;
		z-index:1;
	}

/* -------------------------------------------------------------------------------- /
	[6] WIDGETS
/ -------------------------------------------------------------------------------- */

	.widget {
		margin-bottom:40px;
		padding:0 16px;
		text-align:center;	
	}
	.widget h4 {
		font-size:18px;
		line-height:20px;
	}
	.widget ul {
		list-style:none;	
		margin:-3px 0 0;	
		padding:0;
	}
	.widget ul li {
		background:none;
		border-top:solid 1px #bbbbbb;	
		margin:0;	
		padding:3px 0 4px;
	}
	.widget ul li:first-child { border:none; }
	.widget ul li a {
		background:url(../images/list_icons/icon_arrow4_grey.png) 0 50% repeat-y;	
		color:inherit;	
		padding-left:16px;
		position:relative;
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}
	.widget ul li:hover a {
		background-position:0 -14px;
		color:#585858;
	}
	.widget textarea,
	.widget input[type="text"],
	.widget input[type="password"],
	.widget input[type="datetime"],
	.widget input[type="datetime-local"],
	.widget input[type="date"],
	.widget input[type="month"],
	.widget input[type="time"],
	.widget input[type="week"],
	.widget input[type="number"],
	.widget input[type="email"],
	.widget input[type="url"],
	.widget input[type="search"],
	.widget input[type="tel"],
	.widget input[type="color"],
	.widget .uneditable-input {
		background:#e8e8e8;
		width:100%;
	}
	
	/* widget searcbox */
	.input-button-inside { position:relative; }
	button[class*="input-button"] {
		background:transparent;
		border:none;
		height:24px;
		position:absolute;	
		right:9px;
		top:9px;	
		width:24px;
	}
	button[class*="input-button"]:hover { background-position:0 -24px; }
	button.input-button-search { background:url(../images/misc/icon_input_search.png) 0 0 no-repeat; }

/* -------------------------------------------------------------------------------- /
	[7] FORM ELEMENTS
/ -------------------------------------------------------------------------------- */

	/* input, select, textarea */
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input,
	.captcha {
		color:#9c9c9c;
		background:#fff;	
		border:none !important;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		-moz-box-shadow:none !important;	
		-webkit-box-shadow:none !important;
		box-shadow:none !important;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;	
		font-size:14px;
		height:41px;		
		line-height:21px;
		margin:0;	
		padding:10px 15px;
		-moz-transition:color 0.15s linear;
		-ms-transition:color 0.15s linear;	
		-o-transition:color 0.15s linear;	
		-webkit-transition:color 0.15s linear;	
		transition:color 0.15s linear;	
		vertical-align:middle;
		width:100%;
	}
	input:focus, textarea:focus { color:#313131; }
	textarea { height:auto; width:100% !important; max-width:100% !important; }
	
	/* buttons */
	.btn, .btn:hover, .btn:focus,
	.btn-large, .btn-large:hover, .btn-large:focus {
		border:none;
		-webkit-border-radius:4px  !important;
		-moz-border-radius:4px  !important;
		border-radius:4px !important;
		-moz-box-shadow:none;
		-o-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;		
		color:#f2f2f2;
		margin-right:20px;
		text-shadow:none;
	}
	.btn:hover, .btn:focus,
	.btn-large:hover, .btn-large:focus { background:#313131 !important; }
	.btn {
		font-size:12px;
		height:29px;	
		line-height:29px;
		padding:0 10px;
	}
	a[class^="btn"] {
		cursor:pointer;
		display:block;
		margin:0;
		float:left;
		height:auto;
	}
	.btn-large {
		font-size:18px;	
		height:40px;
		line-height:40px;	
		padding:0 15px;
	}
	.btn-large {
		font-size:18px;
		height:40px;	
		line-height:20px;
		padding:10px 15px;
	}
	.btn-style1 { background:#01654A; }
	.btn-style2 { background:#9c9c9c; }
	.btn-style3 { background:#4ab17f; }
	.btn-style4 { background:#e05c50; }
	.btn-style5 { background:#ebbe2a; }
	.btn-style6 { background:#313131; }
	
	/* captcha */
	.captcha {
		float:right;	
		height:41px;
		margin-bottom:20px;
		min-width:220px;
		width:220px;
	}
	.captcha label {
		float:left;
		margin-right:10px;	
		overflow:hidden;
		text-align:right;
		white-space:nowrap;	
		width:155px;
	}
	.captcha input {
		background:transparent;
		float:left;	
		height:20px;	
		padding:0;
		width:25px !important;
	}

/* -------------------------------------------------------------------------------- /
	[8] CONTENT
/ -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- /
	[8.1] CONTENT COMMON 
/ -------------------------------------------------------------------------------- */

	/* small text */
	.text-small {
		font-size:12px !important;
		line-height:18px !important;
	}

	/* hide info boxes on home */
	#hide-info-container { 
		margin-top:-100px; 
		-webkit-transform-style:preserve-3d;
	}
	[class^="hide-info-box"] {
		border-top:solid 5px transparent;
		position:relative;
	}
	.hide-info-box-style1 { border-top:solid 5px #ebbe2a; }
	.hide-info-box-style2 { border-top:solid 5px #e05c50; }
	.hide-info-box-style3 { border-top:solid 5px #4ab17f; }		
	.hide-info-box-content {
		background:#FFF;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
		border-color:inherit;
		bottom:85%;
		font-size:18px;
		line-height:24px;		
		margin-bottom:5px;
		opacity:0;
		padding:20px 20px 45px;
		position:absolute;		
		text-align:center;
		visibility:hidden;
		width:100%;
		z-index:-1;
		-webkit-transform-style:preserve-3d;			
	}
	[class^="hide-info-box"]:hover .hide-info-box-content {
		bottom:100%;
		opacity:1;
		-moz-transition:opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;	
		-ms-transition:opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;	
		-o-transition:opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;	
		-webkit-transition:opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;		
		transition:opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;	
		visibility:visible;
	}
	[class^="hide-info-box"]:hover .hide-info-box-content p { margin-bottom:25px; }
	[class^="hide-info-box"] .circle-box h4 {
		font-size:32px;
		line-height:40px;
	}
	[class^="hide-info-box"] .circle-inner, 
	[class^="hide-info-box"] .circle-box h4 { 	
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
		-webkit-transform-style:preserve-3d;
	}

	[class^="hide-info-box"]:hover .circle-inner { color:#fff; }
	.hide-info-box-style1:hover .circle-box h4 { color:#ebbe2a; }
	.hide-info-box-style2:hover .circle-box h4 { color:#e05c50; }
	.hide-info-box-style3:hover .circle-box h4 { color:#4ab17f; }
	[class^="hide-info-box"] .circle-box h4 small {
		color:#585858;
		display:block;
		font-size:16px;
		line-height:20px;
		text-transform:none;
	}
	[class^="hide-info-box"] .circle {
		cursor:default;
		font-size:44px;
		line-height:44px;
		margin-bottom:10px;		
		margin-top:-40px;
	}
	.hide-info-box-style1 .circle { background:#ebbe2a; }
	.hide-info-box-style2 .circle { background:#e05c50; }
	.hide-info-box-style3 .circle { background:#4ab17f; }
	[class^="hide-info-box"] .circle-border { background:#FFF; z-index:-1;}	
	.hide-info-box-style1 .circle-border { border-color:#ebbe2a; }
	.hide-info-box-style2 .circle-border { border-color:#e05c50; }
	.hide-info-box-style3 .circle-border { border-color:#4ab17f; }
	.hide-info-box-header {
		border:none;
		margin:-20px;
		margin-bottom:20px;
	}
	.hide-info-btn {
		float: none !important;
		margin:0 auto !important;		
		position: relative;
		width:100px;		
	}

	/* main titles in main content */
	h2.main-title {
		color:#313131;
		border-top:solid 1px #bbbbbb;
		margin-top:0px;
		padding:20px 140px 0;
		text-align:center;
		position:relative;
		margin-bottom:35px !important;
	}
	h2.main-title:before {
		background:#01654A;
		content:'';
		position:absolute;
		left:50%;
		margin-left:-40px;
		height:5px;
		width:80px;
		top:-1px;
	}
	.main-content > .main-title:first-child { margin-top:0; }
	.sub-title { margin-bottom:30px; }
	.sub-title, .sub-title > * {
		color:#585858;
		font-size:18px;
		line-height:24px;
		text-align:justify;
	}
	.sub-title a { text-decoration:underline; }
	.sub-title a:hover { color:#313131;	}
	
	/* title meta */
	[class^="title-meta"] {
		color:#9c9c9c;
		display:block;	
		font-size:12px;
		line-height:18px;
		right:0;
		position:absolute;
		top:22px;
		width:auto !important;
		white-space:nowrap;
	}
	[class^="title-meta"] span {
		display:block;
		background:none;
		float:left;
		margin:0;
		padding:0;
		position:relative;
	}
	[class^="title-meta"] span a {
		display:block;
		height:24px;
		margin-left:5px;
		width:24px;
	}
	[class^="title-meta"] span a.prev { background:url(../images/misc/icon_next_prev.png) 0 0 no-repeat; } 
	[class^="title-meta"] span a.next { background:url(../images/misc/icon_next_prev.png) -24px 0 no-repeat; }
	[class^="title-meta"] span a.back { background:url(../images/misc/icon_back.png) 0 0 no-repeat; }
	[class^="title-meta"] span a.prev:hover { background-position:0 -24px; }
	[class^="title-meta"] span a.next:hover { background-position:-24px -24px; }
	[class^="title-meta"] span a.back:hover { background-position:-24px 0; }	

	/* pagination */
	.pagination-wrapper {
		font-size:12px;
		font-weight:700;
		line-height:37px;
		margin-top:10px;
	}
	.pagination-info {
		float:left;	
		margin-bottom:10px;
	}
	.pagination {
		float:right;	
		margin:0 0 20px;
		padding:0;
		position:relative;	
		text-align:right;
	}
	.pagination li:first-child a { margin:0 15px 0 0 !important; }
	.pagination li:last-child a { margin-right:0 !important; }
	.pagination li {
		background:none;	
		float:left;
		line-height:37px;	
		padding:0;
		position:relative;
	}
	.pagination a { 
		color:inherit;
		margin:0 20px;
	}
	.pagination a:hover { color:#585858; }
	.page-number {
		color:#f2f2f2 !important;
		background:#9c9c9c;
		display:block;	
		font-size:18px;
		font-weight:normal;
		height:37px;	
		line-height:37px;
		margin:0 0 0 5px !important;
		text-align:center;
		width:37px;	
	}
	.page-number:hover, 
	.current .page-number {
		background:#585858;
		text-decoration:none !important;
	}

	/* circle box */
	.circle-box {
		padding:0 16px;
		position:relative; 
		text-align:center;
		z-index:1;
	}
	.circle-box h4 {
		font-size:18px;
		line-height:20px;
	}	

	/* circle */
	.circle { position:relative; }
	.circle {
		background:#585858;
		-moz-border-radius:99px;
		-webkit-border-radius:99px;
		border-radius:99px;
		display:block;		
		height:78px;
		margin:0 auto 20px;
		position:relative;	
		width:78px;	
	}
	.circle-inner {
		color:#e8e8e8;	
		display:table-cell;	
		height:78px;
		position:relative;
		text-align:center;	
		vertical-align:middle;
		width:78px;
		z-index:1;	
	}
	.circle-border {
		border:solid 2px #585858;
		-moz-border-radius:99px;
		-webkit-border-radius:99px;
		border-radius:99px;		
		height:70px;	
		left:2px;
		top:2px;
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
		position:absolute;
		width:70px;	
	}
	.circle:hover .circle-border,
	.widget:hover .circle-border,
	.circle-box:hover .circle-border,
	.post-inner:hover .circle-border,
	.type-post:hover .circle-border,
	[class^="hide-info-box"]:hover .circle-border {
		height:86px;
		left:-6px;
		top:-6px;
		width:86px;
	}
	span[class|="circle-icon"] {
		display:inline-block;
		height:36px;
		line-height:100%;	
		text-align:center;
		width:36px;	
	}
	.circle:hover span[class|="circle-icon"],
	.circle-box:hover span[class|="circle-icon"],
	.widget:hover span[class|="circle-icon"] { background-position:50% -97px; }
	.circle-icon-posts { background:url(../images/circle_icons/icon_posts.png) 50% -19px no-repeat; }
	.circle-icon-about { background:url(../images/circle_icons/icon_about.png) 50% -19px no-repeat; }
	.circle-icon-mail { background:url(../images/circle_icons/icon_mail.png) 50% -19px no-repeat; }
	.circle-icon-skype { background:url(../images/circle_icons/icon_skype.png) 50% -19px no-repeat; }
	.circle-icon-tel { background:url(../images/circle_icons/icon_tel.png) 50% -19px no-repeat; }
	.circle-icon-twitter { background:url(../images/circle_icons/icon_twitter.png) 50% -19px no-repeat; }

/* -------------------------------------------------------------------------------- /
	[8.2] SHORTCODES
/ -------------------------------------------------------------------------------- */

	/* list styles */
	ul li { background:url(../images/list_icons/icon_arrow1_grey.png) 0 2px no-repeat; }
	ul.list-arrow2 > li { background:url(../images/list_icons/icon_arrow2_grey.png) 0 2px no-repeat; }
	ul.list-arrow3 > li { background:url(../images/list_icons/icon_arrow3_grey.png) 0 2px no-repeat; }
	ul.list-arrow4 > li { background:url(../images/list_icons/icon_arrow4_grey.png) 0 2px no-repeat; }
	ul.list-arrow5 > li { background:url(../images/list_icons/icon_arrow5_grey.png) 0 2px no-repeat; }
	ul.list-circle > li { background:url(../images/list_icons/icon_circle_grey.png) 0 2px no-repeat; }
	ul.list-cross > li { background:url(../images/list_icons/icon_cross_grey.png) 0 2px no-repeat; }
	ul.list-dot > li { background:url(../images/list_icons/icon_dot_grey.png) 0 2px no-repeat; }
	ul.list-heart > li { background:url(../images/list_icons/icon_heart_grey.png) 0 2px no-repeat; }
	ul.list-minus > li { background:url(../images/list_icons/icon_minus_grey.png) 0 2px no-repeat; }
	ul.list-ok > li { background:url(../images/list_icons/icon_ok_grey.png) 0 2px no-repeat; }
	ul.list-plus > li { background:url(../images/list_icons/icon_plus_grey.png) 0 2px no-repeat; }
	ul.list-star > li { background:url(../images/list_icons/icon_star_grey.png) 0 2px no-repeat; }
	
	ul.list-arrow1-dark > li { background:url(../images/list_icons/icon_arrow1_dark_grey.png) 0 2px no-repeat; }
	ul.list-arrow2-dark > li { background:url(../images/list_icons/icon_arrow2_dark_grey.png) 0 2px no-repeat; }
	ul.list-arrow3-dark > li { background:url(../images/list_icons/icon_arrow3_dark_grey.png) 0 2px no-repeat; }
	ul.list-arrow4-dark > li { background:url(../images/list_icons/icon_arrow4_dark_grey.png) 0 2px no-repeat; }
	ul.list-arrow5-dark > li { background:url(../images/list_icons/icon_arrow5_dark_grey.png) 0 2px no-repeat; }
	ul.list-circle-dark > li { background:url(../images/list_icons/icon_circle_dark_grey.png) 0 2px no-repeat; }
	ul.list-cross-dark > li { background:url(../images/list_icons/icon_cross_dark_grey.png) 0 2px no-repeat; }
	ul.list-dot-dark > li { background:url(../images/list_icons/icon_dot_dark_grey.png) 0 2px no-repeat; }
	ul.list-heart-dark > li { background:url(../images/list_icons/icon_heart_dark_grey.png) 0 2px no-repeat; }
	ul.list-minus-dark > li { background:url(../images/list_icons/icon_minus_dark_grey.png) 0 2px no-repeat; }
	ul.list-ok-dark > li { background:url(../images/list_icons/icon_ok_dark_grey.png) 0 2px no-repeat; }
	ul.list-plus-dark > li { background:url(../images/list_icons/icon_plus_dark_grey.png) 0 2px no-repeat; }
	ul.list-star-dark > li { background:url(../images/list_icons/icon_star_dark_grey.png) 0 2px no-repeat; }
	
	/* brands carousel */
	.brands .slides li { width:auto; }
	.brands .slides li a {
		display:block;
		float:left;
		margin-bottom:20px;
		text-align:center;
		width:100%;
	}
	.brands .slides li a img {
		display:block;
		filter:alpha(opacity=35); /* IE 5-7 */
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)"; /* IE 8 */
		-khtml-opacity:0.35; /* Safari 1.x */
		-moz-opacity:0.35; /* Netscape */
		opacity:0.35;	
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}
	.brands .slides a:hover img {
		filter:alpha(opacity=100); /* IE 5-7 */
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
		-khtml-opacity:1; /* Safari 1.x */
		-moz-opacity:1; /* Netscape */
		opacity:1;
	}
	
	/* alerts */
	.alert {
		border:none;
		background-position:15px 11px;
		background-repeat:no-repeat;
		color:#f2f2f2;
		font-size:16px;
		line-height:20px;
		margin:0 0 20px;
		padding:10px 30px 10px 45px;
		position:relative;
		text-shadow:none;
	}
	.alert p { margin:10px 0 0; }
	.alert p:first-child { margin:0; }	
	/* alert - info */
	[class*="alert-info"] { background-image:url(../images/alert_icons/icon_alert_info.png); }
	.alert-info1 { 
		background-color:#ebbe2a;
		color:#fff;
	}
	.alert-info2 { background-color:#4ab17f; }
	/* alert - error */
	.alert-error { background-color:#e05c50; }
	[class*="alert-error"] { background-image:url(../images/alert_icons/icon_alert_error.png); }
	
	/* alert - success */
	[class*="alert-success"] { background-image:url(../images/alert_icons/icon_alert_success.png); }
	.alert-success1 { background-color:#01654A; }
	.alert-success2 { background-color:#9c9c9c; }
	
	.close {
		opacity:1 !important;
		position:absolute !important;
		right:12px !important;
		top:8px !important;	
	}
	.alert-icon-close {
		background:url(../images/alert_icons/icon_close.png) 0 0;
		display:inline-block;
		height:9px;
		left:5px;	
		margin:8px;
		position:relative;
		vertical-align:top;
		width:9px;	
	}
	.close:hover .alert-icon-close,
	.close:focus .alert-icon-close { background-position:0 -9px; }
	
	/* tabs */
	.tabs-wrapper { border-bottom:solid 1px #bbb; }
	.tabs {
		list-style:none;	
		margin:0;
		padding:0;
		position:relative;	
	}
	.tabs > li {
		background:none;
		margin:0;
		padding:0;
		display:inline-block;
	}
	.tabs > li a,
	.tab-title > a {
		border-left:solid 1px #bbb;	
		color:#313131;
		display:block;
		font-size:15px;
		font-weight:700;	
		height:20px;
		line-height:20px;
		padding:15px 20px;
		text-decoration:none;
	}
	.tabs > li.current a,
	.tabs > li:hover a,
	.tabs-content > li.current .tab-title a,
	.tabs-content > li .tab-title a:hover { color:#01654A; }
	.tabs-content {
		list-style:none;	
		margin:0 0 20px 0;	
		padding:0;
	}
	.tabs-content > li {
		background:none;
		margin:0;
		padding:0;	
	}
	.tab-title a { border-bottom:solid 1px #bbb; }
	.tab-title { display:none; }
	.tab-content { padding:30px 0 0; }
	.tab-content > ul { margin-bottom:20px; }
	.tab-content { display:none; }
	.tabs-content > li.current .tab-content { display:block; }
	
	/* tabs - centered */
	.tabs-centered .tabs {
		float:left;
		left:50%;	
		position:relative;
	}
	.tabs-centered .tabs > li {
		float:left;
		position:relative;	
		right:50%;
	}
	
	/* tabs - right */
	.tabs-right .tabs { float:right; }
	
	/* toggles */
	.toggles {
		list-style:none;	
		margin:0 0 20px;
		padding:0;
	}
	.toggle-title a { 
		color:#313131;
		display:block;
		font-weight:700;
		line-height:20px;
		padding:20px;
		padding-left:50px;
	}
	.toggles > li {
		background:none;	
		border:solid 1px #bbb;
		margin:0;
		margin-top:-1px;
		padding:0;
		position:relative;
	}
	.toggles > li:fist-child { margin-top:0; }
	.toggles > li.current a,
	.toggles > li:hover a { color:#01654A; }
	.toggle-title a span {
		background:url(../images/misc/icon_open_close.png) 0 0 no-repeat;		
		display:block;
		float:left;
		height:20px;
		margin-left:-30px;	
		margin-right:10px;
		width:20px;
	}
	.toggles li.current .toggle-title a span { background-position:-20px -20px; }
	.toggle-content {
		display:none;
		padding:0 20px 0 50px;
	}
	.toggles li.current .toggle-content { display:block; }
	.toggle-content > ul { margin-bottom:20px; }
	
	/* progress bars */
	.progress-bars {
		list-style:none;	
		margin:0 0 20px 0;
	}
	.progress-bars li {
		background:none;
		padding:0;
	}
	.progress-label {
		font-size:12px;
		font-weight:700;	
		line-height:18px;
	}
	.progress-label span {
		color:#585858;
		margin-left:3px;	
	}
	.progress {
		background:#d6d6d6;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;
		filter:none;		
		height:10px;
		margin-bottom:14px;
	}
	.progress .bar {
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;
		filter:none;
		-moz-transition:width 0s ease;
		-o-transition:width 0s ease;
		-webkit-transition:width 0s ease;	
		transition:width 0s ease;		
	}
	.progress .bar.trans-enabled {
		-moz-transition:width 0.8s ease;
		-o-transition:width 0.8s ease;
		-webkit-transition:width 0.8s ease;	
		transition:width 0.8s ease;		
	}
	.progress-style1 .bar { background:#01654A; }

	/* highlights */
	.highlight1 { 
		border-bottom:solid 1px #01654A;
		color:#01654A;
	}
	.highlight2 {
		background:#01654A;
		color:#fff;
		padding:0 3px;
	}
	.highlight3 { 
		background:#9c9c9c;	
		color:#fff;
		padding:0 3px;
	}
	
	/* dropcap */
	.dropcap {
		color:#585858;
		display:block;
		float:left;
		font-size:44px;
		height:40px;
		line-height:40px;
        margin-right:5px;
	}

	/* team */
	.team {
		background:#FFF;
		margin-bottom:20px;
	}
	.team-header img {
		max-width:none;
		width:100%;	
	}
	.team-content {
		border-bottom:solid 1px #bbb;	
		margin:20px;
		position:relative;
	}
	.team-content:before {
		background:#585858;
		content:'';
		height:5px;
		left:50%;
		margin-left:-40px;
		position:absolute;
		top:52px;
		width:80px;
	}
	.team-content h5 { margin-bottom:33px; }
	.team-content small { 
		color:inherit; 
		display:block;
		font-size:16px;
		line-height:22px;
	}
	.team-contact {
		float:left;
		left:50%;	
		list-style:none;
		position:relative;
	}
	.team-contact li {
		background:none;
		float:left;
		height:18px;
		margin:0 4px;
		overflow:hidden;		
		padding:0;
		position:relative;
		right:50%;
	}
	.team-contact li a {
		display:block;
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}
	.team-contact li a:hover { margin-top:-18px; }

	/* tooltip */
	.has-tooltip { position:relative; }
	.has-tooltip span.tip { 
		background:#585858;
        border-color:#585858;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;			
		bottom:100%;
		color:#f2f2f2;
		font-size:12px;
		line-height:16px;
        margin-bottom:-7px;
		opacity:0;
		padding:7px 10px;	
		position:absolute;		
		text-align:left;
		text-decoration:none !important;
		-moz-transition:opacity 0.2s linear, visibility 0.2s linear, margin-bottom 0.2s 0.2s linear;	
		-ms-transition:opacity 0.2s linear, visibility 0.2s linear, margin-bottom 0.2s 0.2s linear;	
		-o-transition:opacity 0.2s linear, visibility 0.2s linear, margin-bottom 0.2s 0.2s linear;	
		-webkit-transition:opacity 0.2s linear, visibility 0.2s linear, margin-bottom 0.2s 0.2s linear;	
		transition:opacity 0.2s linear, visibility 0.2s linear, margin-bottom 0.2s 0.2s linear;	
		visibility:hidden;
		width:130px;
		z-index:4;
	}
	.has-tooltip:hover span.tip {
		opacity:1;
		visibility:visible;
		bottom:100%;
        margin-bottom:3px;
		-moz-transition:opacity 0.2s linear, visibility 0s linear, margin-bottom 0.2s linear;
		-ms-transition:opacity 0.2s linear, visibility 0s linear, margin-bottom 0.2s linear;
		-o-transition:opacity 0.2s linear, visibility 0s linear, margin-bottom 0.2s linear;
		-webkit-transition:opacity 0.2s linear, visibility 0s linear, margin-bottom 0.2s linear;
		transition:opacity 0.2s linear, visibility 0s linear, margin-bottom 0.2s linear;
	}	
	.has-tooltip span.tip:before {
		border-right:6px solid transparent;	
		border-left:6px solid transparent;		
		border-top:6px solid #9D9D9D;
        border-top-color:inherit;
		content:'';
		left:10px;
		position:absolute;
		top:100%;
		width:auto;
	}

/* -------------------------------------------------------------------------------- /
	[8.3] SLIDER COMMON
/ -------------------------------------------------------------------------------- */

	/* slider */
	.slider {
		overflow:hidden;
		position:relative;		
	}
	.carousel {
		margin:0;
		overflow:visible;
	}
	.caroufredsel_wrapper { margin:0 !important; }

	.slides li {
		background:none;
		display:none;	
		float:left;
		margin:0;
		padding:0;
		width:100%;
		-webkit-transform-style:preserve-3d;
	}
	.slider .slides li:first-child, 
	.js-on .slider .slides li, 
	.carousel .slides li  { display:block; }
	
	/* slider-controls */
	.slider-pagination {
		display:none;
		height:16px;	
		margin:15px 0 20px;
		text-align:center;	
	}
	.js-on .slider-pagination { display:block; }
	.slider-pagination li {
		background:none;
		display:inline-block;
		margin:0 7px 0 8px;
		padding:0;
	}
	.slider-pagination li a {
		background:url(../images/misc/slider_pagination.png) 0 0 no-repeat;
		display:block;
		height:16px;
		width:16px;
	}
	.slider-pagination li.selected a {
		background-position:0 -16px;
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
		-webkit-transform-style:preserve-3d;			
	}
	
	/* slider controls (outside slider) */
	.slider-controls {
		position:absolute;
		right:0;
		top:-58px;
		z-index:1;	
	}
	.slider-controls li {
		float:left;
		background:none;
		margin:0;
		padding:0;
	}
	.slider-controls li a {
		display:block;
		height:24px;
		margin-left:5px;
		width:24px;	
	}
	.slider-controls li a.prev { background:url(../images/misc/icon_next_prev.png) 0 0 no-repeat; }
	.slider-controls li a.next { background:url(../images/misc/icon_next_prev.png) -24px 0 no-repeat; }
	.slider-controls li a.prev:hover { background-position:0 -24px; }
	.slider-controls li a.next:hover { background-position:-24px -24px; }
	
	/* slider control arrows */
	.slider-control-prev, .slider-control-next {
		margin-top:-20px;
		position:absolute;	
		-moz-transition:left 0.2s ease-in-out, right 0.2s ease-in-out;
		-ms-transition:left 0.2s ease-in-out, right 0.2s ease-in-out;
		-o-transition:left 0.2s ease-in-out, right 0.2s ease-in-out;
		-webkit-transition:left 0.2s ease-in-out, right 0.2s ease-in-out;
		transition:left 0.2s ease-in-out, right 0.2s ease-in-out;
		top:50%;
		width:40px;
		height:40px;
		z-index:101;	
	}

	.slider:hover .slider-control-prev { left:20px; }
	.slider:hover .slider-control-next { right:20px; }

/* -------------------------------------------------------------------------------- /
	[8.4] BLOG
/ -------------------------------------------------------------------------------- */

	/* blog */
	.blog .row {
		list-style:none;
		margin-bottom:0;
		overflow: hidden;
	}
	.blog .row:before {
		content:'';
		height:0;
		left:20px;
		border-top:solid 1px #bbb;
		padding-top:30px;		
		position:relative;
		width:100%;					
	}
	.blog .video-wrapper { padding-bottom:40.4%; }
	.blog .row:first-child:before {
		border-top:none;
		padding-top:0;
	}
	li.post {
		background:none;	
		margin-bottom:30px;
		padding:0;
		position:relative;
	}
	.post-inner {
		background:#FFF;
		position:relative;	
	}
	
	/* post header */
	.post-header { 
		overflow:hidden;
		position:relative;
	}
	.post-header img { 
		display:block;
		width:100% !important;
	}
	
	/* post body */
	.post-body {
		padding:25px 30px 25px 120px;
		position:relative;
	}
	.post-body h2 { 
		font-size:22px;
		line-height:25px;
		margin-bottom:20px;
	}
	.post-body h2 a { color:#585858; }
	.post-body h2 a:hover { color:#01654A; }
	
	/* post date */
	.post-date {
		font-size:28px;
		left:20px;
		line-height:22px;
		position:absolute;
		top:30px;	
	}
	.post-date span {
		display:block;
		font-size:18px;
	}
	
	/* post meta */
	.post-meta { 
		font-size:12px;
		margin-top:20px;
	}
	.post-meta li {
		background:none;
		margin:0;
		padding:0;
	}
	.post-meta span {
		color:#585858;
		font-weight:700;
	}
	.post-meta a { color:inherit; }
	.post-meta a:hover { color:#585858; }
	
	/* post overlay */
	.post-overlay {
		background:#01654A;
		left:0;
		height:100%;
		opacity:0;
		position:absolute;	
		top:0;
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;			
		visibility:hidden;
		width:100%;
		z-index:1;
		-webkit-transform-style:preserve-3d;
	}
	.has-overlay .post-inner:hover .post-overlay-meta { 
		top:27px;
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;		
	
	}
	.has-overlay .post-inner:hover .post-body h2 { 
		top:30px;
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;		
	}
	.post-header:hover .post-overlay,
	.portfolio .post-inner:hover .post-overlay,
	.post-list .post-inner:hover .post-overlay {
		opacity:1;
		-moz-transition:opacity 0.2s ease-in-out;
		-ms-transition:opacity 0.2s ease-in-out;
		-o-transition:opacity 0.2s ease-in-out;
		-webkit-transition:opacity 0.2s ease-in-out;
		transition:opacity 0.2s ease-in-out;
		visibility:visible;	
	}
	/* post overlay icons */
	ul.post-overlay-icons {
		float:left;
		left:50%;	
		margin:-20px 0 0 -3px;
		position:absolute;
		top:50%;
	}
	.post-overlay-icons li {
		background:none;
		float:left;
		margin:0;
		padding:5px 0 0;
		position:relative;	
		right:50%;	
	}
	.post-overlay-icons li span {
		border-top:solid 5px #585858;
		display:block;	
		float:left;
		height:5px;
		opacity:0;
		padding-left:6px;
		position:absolute;
		top:-20px;
		-moz-transition:all 0.2s ease-in-out, top 0s 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out, top 0s 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out, top 0s 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out, top 0s 0.2s ease-in-out;
		transition:all 0.2s ease-in-out, top 0s 0.2s ease-in-out;
		width:100%;
	}
	.post-overlay-icons li:first-child span { padding:0; }
	.post-header:hover .post-overlay-icons li span,
	.portfolio .post-inner:hover .post-overlay-icons li span,
	.post-list .post-inner:hover .post-overlay-icons li span {
		-moz-transition:all 0.2s 0s ease-in-out;
		-ms-transition:all 0.2s 0s ease-in-out;
		-o-transition:all 0.2s 0s ease-in-out;
		-webkit-transition:all 0.2s 0s ease-in-out;
		transition:all 0.2s 0s ease-in-out;		
		opacity:1;
		top:-5px;	
	}
	.post-overlay-icons a {
		background-color:#585858;
		display:block;
		width:37px;
		height:37px;
		left:6px;
		top:30px;
		position:relative;
		opacity:0;
		-moz-transition:all 0.2s ease-in-out, top 0s 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out, top 0s 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out, top 0s 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out, top 0s 0.2s ease-in-out;
		transition:all 0.2s ease-in-out, top 0s 0.2s ease-in-out;		
	}
	.post-overlay-icons li:first-child a { left:0; }
	.overlay-icon-more { background:url(../images/overlay_icons/icon_more.png) 0 0 no-repeat; }
	.overlay-icon-link { background:url(../images/overlay_icons/icon_link.png) 0 0 no-repeat; }
	.post-overlay-icons a:hover {
		background-position:0 -37px;
	}
	.post-header:hover .post-overlay-icons li a,
	.portfolio .post-inner:hover .post-overlay-icons li a,
	.post-list .post-inner:hover .post-overlay-icons li a  {
		opacity:1;
		top:0px;
		-moz-transition:all 0.2s 0s ease-in-out;
		-ms-transition:all 0.2s 0s ease-in-out;
		-o-transition:all 0.2s 0s ease-in-out;
		-webkit-transition:all 0.2s 0s ease-in-out;
		transition:all 0.2s 0s ease-in-out;
	}
	
	/* post slider */
	ul.post-slider { margin:0 !important; }


/* -------------------------------------------------------------------------------- /
	[8.5] BLOG SINGLE
/ -------------------------------------------------------------------------------- */

	.type-post > .post {
		border-bottom:solid 1px #bbbbbb;
		margin-bottom:40px;
		padding-bottom:15px;
	}
	.type-post > #comments {
		border-top:solid 1px #bbbbbb;
		margin-top:40px;
		padding-top:40px;
	}
	.type-post h2 {
		font-size:22px;
		line-height:25px;
	}
	.type-post > .post > .post-body {
		padding:0;
		margin-left:100px;
	}
	.type-post .post-header {
		padding-bottom:0;
		margin-bottom:40px;	
	}
	.post-author {
		margin-left:94px;
		position:relative;
	}
	.post-author .avatar {
		left:-47px;
		position:absolute;
	}	
	.type-post .post-header img { position:relative; }
	.type-post .post-date { top:0; left:-100px; }
	.type-post ul.post-meta { margin-bottom:30px; }
	.type-post .post-meta li { float:left; margin-right:5px; }
	.type-post .post-meta li:before {
		content:'|';
		position:relative;
		margin-right:5px;
	}
	.type-post .post-meta li:first-child:before { display:none; }
	
	.social-box {
		border-bottom:solid 1px #bbb;
		border-top:solid 1px #bbb;			
		color:#585858;
		font-size:12px;
		font-weight:bold;
		margin:30px 0 40px;
		padding:25px 0;
	}
	.social-box li {
		height:20px !important;		
		background:none;
		float:left;		
		padding:0;
		margin:0;
		margin-right:20px;
	}
	.social-box li:first-child { margin-right:25px; }

/* -------------------------------------------------------------------------------- /
	[8.6] PORTFOLIO
/ -------------------------------------------------------------------------------- */

	.portfolio-filter { margin-bottom:30px; }
	.portfolio li.post { margin-bottom:20px; }
	.portfolio .post-header,
	.post-list .post-header {
		margin:0 !important;
		top:0px;
		width:100%;		
	}
	.portfolio .post-body,
	.post-list .post-body {	
		bottom:0;
		padding:3px 20px 2px !important;
		overflow:hidden;		
	}
	.portfolio .post-body h2,
	.post-list .post-body h2 {
		font-size:18px;
		line-height:20px;
		margin-bottom:0;		
		padding:9px 0;
		position:relative;
		text-align:center;		
		top:0;
		-moz-transition:top 0 0 ease-in-out;
		-ms-transition:top 0 0 ease-in-out;
		-o-transition:top 0 0 ease-in-out;
		-webkit-transition:top 0 0 ease-in-out;	
		transition:top 0 0 ease-in-out;		
	}
	.portfolio .post-overlay-meta,
	.post-list .post-overlay-meta {
		color:#585858;
		font-size:12px;	
		text-align:center;
		position:absolute;
		top:17px;		
		-moz-transition:top 0 0.2s ease-in-out;
		-ms-transition:top 0 0.2s ease-in-out;
		-o-transition:top 0 0.2s ease-in-out;	
		-webkit-transition:top 0 0.2s ease-in-out;
		transition:top 0 0.2s ease-in-out;
		width:100%;		
	}
	.portfolio .post-overlay-meta h2,
	.post-list .post-overlay-meta h2 {
		color:#f2f2f2;
		font-size:18px;
		line-height:20px;
		margin-bottom:0px;
		padding:0 20px;		
	}
	.portfolio .post-overlay-meta h2 a,
	.post-list .post-overlay-meta h2 a { color:inherit; }
	.portfolio .post-overlay-meta a,
	.post-list .post-overlay-meta a {
		color:#585858;
		font-size:12px;
		line-height:14px;
	}
	.post-list {
		bottom:-30px;
		margin-top:-30px !important;
		position:relative;
	}
	.portfolio .video-wrapper,
	.post-list .video-wrapper { padding-bottom:79.87% !important; }

/* -------------------------------------------------------------------------------- /
	[8.7] PORTFOLIO SINGLE
/ -------------------------------------------------------------------------------- */

	.type-portfolio > .post {
		border-bottom:solid 1px #bbbbbb;
		margin-bottom:40px;
		padding-bottom:20px;
	}
	.type-portfolio .post-header { margin-bottom:40px; }
	.type-portfolio-half .post-header { margin-bottom:25px; }
	.type-portfolio .post-body { 
		padding:0;
		padding-bottom:20px;
	}
	.type-portfolio .post-meta { margin-bottom:25px; }
	.type-portfolio h2 {
		font-size:22px;
		line-height:25px;
	}

/* -------------------------------------------------------------------------------- /
	[8.8] CONTENT COMMON
/ -------------------------------------------------------------------------------- */

	/* comment list */
	#comment-list { margin:0; }
	#comment-list li {
		background:none;	
		margin:0;
		padding:0;
	}
	/* comment depth */
	#comment-list ul.children { margin-left:94px;  }
	
	.comment-container {
		border:solid 1px #bbb;		
		margin-bottom:30px;
		margin-left:94px;		
		padding:20px 20px 0;
		position:relative;
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}
	.comment-container:hover {
		background:#fff;
		border-color:#01654A;
	}
	.comment-body { margin-bottom:20px; }

	/* comment avatar */
	.avatar {
		float:left;
		width:74px;	
	}
	.avatar img {
		display:block;
		margin-right:20px;
		position: relative;
		z-index: 1;		
	}
	
	/* comment datas (author, meta & date)*/
	h4.comment-author {
		font-size:16px;
		line-height:20px;
		margin:0;
	}
	#comment-list .comment-meta { margin-bottom:10px; }
	#comment-list .comment-date { font-size:12px; }

	/* comment hover effect */	
	#comment-list li .comment-container:hover h4 { color:#01654A; }
	
	.comment-reply-link { 
		position:absolute;
		right:20px;
		top:20px;
	}

/* -------------------------------------------------------------------------------- /
	[9] PRICING TABLE
/ -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- /
	[9.1]	PRICING TABLE - RESET
/ -------------------------------------------------------------------------------- */

	.gw-go * {
		background:none;
		border:none;
        -moz-box-sizing:content-box;
		-webkit-box-sizing:content-box;
		box-sizing:content-box; 	
		margin:0;
		outline:none;		
		padding:0;
		letter-spacing:normal !important;
		text-transform:none;
		text-decoration:none !important;     		
	}

/* -------------------------------------------------------------------------------- /
	[9.2]	PRICING TABLE - SETUP - general settings, clearfix, common classes
/ -------------------------------------------------------------------------------- */

	/* clearfix */
	.gw-go-clearfix:after {
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}
	.gw-go-clearfix { display:inline-block; } /* Hide from IE Mac \*/
	.gw-go-clearfix { display:block; } /* End hide from IE Mac */
	.gw-go-clearfix:after {
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}
	
	/* clearfix class */
	.gw-go-clear {
		clear:both;
		display:block;
		font-size:0;
		height:0;
		line-height:0;
		width:100%;
	}
	
	/* text aligns */
	.gw-go-tcenter { text-align:center; }
	.gw-go-tleft { text-align:center; }
	.gw-go-tright { text-align:right; }

	/* video iframe */
	.gw-go-video-wrapper {
		padding-bottom:56.25% !important;
		position:relative;	
		height:0; 	
	}
    .gw-go-header-bottom .gw-go-video-wrapper { margin-bottom:-1px; }
	.gw-go-video-wrapper iframe {
        height:100%;
        left:0;
        margin:0;
        border:none;
        outline:none;
        position:absolute;
        top:0;
        width:100%;
	}
	
	/* image settings */
	.gw-go-img-wrapper { position:relative; }
	.gw-go img { display:block; }
	img.gw-go-responsive-img {
	    border:none !important;
		height:auto !important;
    	margin:0 !important;
        paddig:0 !important;        
        max-width:100% !important;
		width:100% !important;
	}
    .gw-go audio, 
    .gw-go video {
    	margin:0;
        paddig:0;
		/*height:auto !important;*/
        max-width:100% !important;
		width:100% !important;        
    }
    /* fix for google map popup & mediaelementjs styling bug in some themes */
    .gw-go-gmap img { max-width:none !important; }
    .mejs-container img {
		height:auto !important;    
    	max-width:none !important;
		width:100% !important;        
	}
		
/* -------------------------------------------------------------------------------- /
	[9.3] PRICING TABLE - LAYOUT
/ -------------------------------------------------------------------------------- */

	.gw-go {
		font-size:12px;
		line-height:16px;
		margin:auto;
		width:100%;
	}
	
	/* default colum widths */
	.gw-go-1col .gw-go-col-wrap { width:100%; }
	.gw-go-2cols .gw-go-col-wrap { width:50%; }
	.gw-go-3cols .gw-go-col-wrap { width:33.33%; }
	.gw-go-4cols .gw-go-col-wrap { width:25%; }
	.gw-go-5cols .gw-go-col-wrap { width:20%; }

	/* 1% left space */
	.gw-go-space-1p.gw-go-2cols .gw-go-col-wrap { width:49.5%; }
	.gw-go-space-1p.gw-go-3cols .gw-go-col-wrap { width:32.66%; }
	.gw-go-space-1p.gw-go-4cols .gw-go-col-wrap { width:24.25%; }
	.gw-go-space-1p.gw-go-5cols .gw-go-col-wrap { width:19.2%; }
	.gw-go-space-1p .gw-go-col-wrap { margin-left:1%; }

	/* 2% left space */
	.gw-go-space-2p.gw-go-2cols .gw-go-col-wrap { width:49%; }
	.gw-go-space-2p.gw-go-3cols .gw-go-col-wrap { width:32%; }
	.gw-go-space-2p.gw-go-4cols .gw-go-col-wrap { width:23.5%; }
	.gw-go-space-2p.gw-go-5cols .gw-go-col-wrap { width:18.4%; }
	.gw-go-space-2p .gw-go-col-wrap { margin-left:2%; }	

	/* 3% left space */
	.gw-go-space-3p.gw-go-2cols .gw-go-col-wrap { width:48.5%; }
	.gw-go-space-3p.gw-go-3cols .gw-go-col-wrap { width:31.33%; }
	.gw-go-space-3p.gw-go-4cols .gw-go-col-wrap { width:22.75%; }
	.gw-go-space-3p.gw-go-5cols .gw-go-col-wrap { width:17.6%; }
	.gw-go-space-3p .gw-go-col-wrap { margin-left:3%; }	

	/* 4% left space */
	.gw-go-space-4p.gw-go-2cols .gw-go-col-wrap { width:48%; }
	.gw-go-space-4p.gw-go-3cols .gw-go-col-wrap { width:30.66%; }
	.gw-go-space-4p.gw-go-4cols .gw-go-col-wrap { width:22%; }
	.gw-go-space-4p.gw-go-5cols .gw-go-col-wrap { width:16.8%; }
	.gw-go-space-4p .gw-go-col-wrap { margin-left:4%; }	

	/* 5% left space */
	.gw-go-space-5p.gw-go-2cols .gw-go-col-wrap { width:47.5%; }
	.gw-go-space-5p.gw-go-3cols .gw-go-col-wrap { width:30%; }
	.gw-go-space-5p.gw-go-4cols .gw-go-col-wrap { width:21.25%; }
	.gw-go-space-5p.gw-go-5cols .gw-go-col-wrap { width:16%; }
	.gw-go-space-5p .gw-go-col-wrap { margin-left:5%; }	
	
	.gw-go-col-wrap {
		float:left;
		margin-left:-1px;
		min-width:130px;
        padding:20px 0 40px;		
		position:relative;
		-moz-transition:all 0.2s linear;
		-ms-transition:all 0.2s linear;
		-o-transition:all 0.2s linear;
		-webkit-transition:all 0.2s linear;
		transition:all 0.2s linear;
	}
	.gw-go-col-wrap:first-child { margin-left:0; }
	
	.gw-go-col {
		border:solid 1px #d6d6d6;
		border-bottom:solid 2px #d6d6d6;
        border-top-width:2px;
		margin-bottom:-20px;		
		position:relative;
		text-align:center;				
		top:0;
		-moz-transition:margin-top 0.2s linear, top 0.2s linear, -moz-box-shadow 0.2s linear;
		-ms-transition:margin-top 0.2s linear, top 0.2s linear, box-shadow 0.2s linear;
		-o-transition:margin-top 0.2s linear, top 0.2s linear, box-shadow 0.2s linear;
		-webkit-transition:margin-top 0.2s linear, top 0.2s linear, -webkit-box-shadow 0.2s linear;
		transition:margin-top 0.2s linear, top 0.2s linear, box-shadow 0.2s linear;
	}
	.gw-go-col:before {
		content:'';
		height:23px;		
		margin-top:2px;
       	filter:alpha(opacity=40);
		-khtml-opacity:0.4;
		-moz-opacity:0.4;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";  
		opacity:0.4;		
		position:absolute;
		left:0;
		top:100%;
		width:100%;
	}
	
	/* enlarge highlighted column / column on hover option is enabled */
	.gw-go.gw-go-enlarge-current:hover .gw-go-col-wrap.gw-go-current { padding:20px 0 40px; }	
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col,
	.gw-go.gw-go-enlarge-current:hover .gw-go-col-wrap.gw-go-current .gw-go-col {
		-moz-box-shadow:0 0 20px -2px rgba(0,0,0,0);
		-webkit-box-shadow:0 0 20px -2px rgba(0,0,0,0);
		box-shadow:0 0 20px -2px rgba(0,0,0,0);		
		margin-top:0;
		top:0;
	}
	.gw-go.gw-go-enlarge-current .gw-go-col-wrap.gw-go-current, 
	.gw-go.gw-go-enlarge-current .gw-go-col-wrap:hover, 
	.gw-go.gw-go-enlarge-current:hover .gw-go-col-wrap.gw-go-current:hover {
		padding:0;
		margin-bottom:0;
	}
	.gw-go.gw-go-enlarge-current .gw-go-col-wrap.gw-go-current .gw-go-col,
	.gw-go.gw-go-enlarge-current .gw-go-col-wrap:hover .gw-go-col,
	.gw-go.gw-go-enlarge-current:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col {
		-moz-box-shadow:0 0 20px -2px rgba(0,0,0,0.25);
		-webkit-box-shadow:0 0 20px -2px rgba(0,0,0,0.25);
		box-shadow:0 0 20px -2px rgba(0,0,0,0.25);		
		margin-top:20px;
		top:-20px;
	}
	.gw-go.gw-go-enlarge-current .gw-go-col-wrap.gw-go-current { z-index:2; }
	.gw-go.gw-go-enlarge-current .gw-go-col-wrap:hover { z-index:3; }
        
/* -------------------------------------------------------------------------------- /
	[9.4] PRICING TABLE - HEADER
/ -------------------------------------------------------------------------------- */

	.gw-go-header {
	    overflow:hidden; 
    	position:relative;
        text-align:center;	
     }
    .gw-go-header p { margin-bottom:4px; }
	
	/* header containers */
	.gw-go-header-top {
		height:95px;	
		position:relative;
	}
	.gw-go-header h1 {
    	color:inherit;
 		font-size:32px !important;
        line-height:32px !important;
		font-weight:normal !important;
	    letter-spacing:normal !important;           
        margin-bottom:15px !important;
        padding:0 !important;         
		text-transform:none	!important;
        top:15px; 
    }
    .gw-go-header h1 small { font-size:26px; }
	.gw-go-header h2 {
       	color:inherit;
 		font-size:26px !important;
        line-height:32px !important;
		font-weight:normal !important;
	    letter-spacing:normal !important;        
        margin-bottom:15px !important;
        padding:0 !important;         
		text-transform:none	!important;
        top:15px;  
    }    
    .gw-go-header h3 {
    	color:inherit;    
		font-size:18px !important;
		line-height:16px !important;
		font-weight:normal !important;
		left:0;
	    letter-spacing:normal !important;
        margin:0 !important;
        padding:0 !important;
		position:absolute;
		text-align:center;	
		text-transform:none	!important;   
        top:19px;
		width:100%;
	}
    .gw-go-header h3 small {
	    display:block;
        font-size:12px;
    }
	.gw-go-header-bottom {
		border-top:solid 1px transparent;	
		height:50px;
	}

	/* pricing coins */
	.gw-go-coin-wrap {		
		font-size:32px;
		height:78px;
		left:50%;
		margin:0 0 0 -40px;
		position:absolute;			
		top:54px;			
		width:78px;
        z-index:1;
	}
	.gw-go-coinf, 
	.gw-go-coinb {
		-webkit-border-radius:50px;
		-moz-border-radius:50px;
		border-radius:50px;
		height:76px;		
		left:0;		
		position:absolute;		
		width:76px;
	}

	.gw-go-coinf div, 
	.gw-go-coinb div {
		background:#FFF;
		-moz-background-clip:padding; 
        -webkit-background-clip:padding-box; 
        background-clip:padding-box; 	
		-webkit-border-radius:50px;
		-moz-border-radius:50px;
		border-radius:50px;
		font-size:32px;
		height:56px;			
		margin:0 auto;
		margin-top:-1px;
		margin-left:-1px;
		padding-top:22px;		
		width:78px;
		top:0;
	}
	.gw-go-coinf small, 
	.gw-go-coinb small {
		display:block;
		font-size:12px;
		margin-top:9px;	
	}
	.gw-go-coinb,
	.gw-go-col-wrap:hover .gw-go-coinf,
	.gw-go-col-wrap.gw-go-current .gw-go-coinf { visibility:hidden; }

	.gw-go-coinf,
	.gw-go-col-wrap:hover .gw-go-coinb,
	.gw-go-col-wrap.gw-go-current .gw-go-coinb { visibility:visible; }	
	
/* -------------------------------------------------------------------------------- /
	[9.5] PRICING TABLE - BODY
/ -------------------------------------------------------------------------------- */

	ul.gw-go-body {
		border-bottom:solid 1px transparent;
        list-style:none !important;		
		margin:0 !important;
		padding:0 !important;
		position:relative;
	}
	ul.gw-go-body li {
	    background:none;
		border-top:solid 1px #FFF;
        min-height:17px;
        line-height:16px !important;
		list-style:none !important;	
		margin:0 !important;
		padding:10px 5px !important;
	}
	ul.gw-go-body li.gw-go-has-tooltip { position:relative; }
	ul.gw-go-body li.gw-go-has-tooltip span.gw-go-tooltip { 
		background:#9D9D9D;
        border-color:#9D9D9D;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		-moz-box-shadow:0 0 5px rgba(0,0,0,0.15);
		-webkit-box-shadow:0 0 5px rgba(0,0,0,0.15);
		box-shadow:0 0 5px rgba(0,0,0,0.15);			
		bottom:100%;
		color:#313131;
		left:50%;
        margin-bottom:-17px;        
		margin-left:-15px;
		opacity:0;
		padding:6px 10px 6px 10px;	
		position:absolute;		
		text-align:left;
		text-decoration:none !important;
		-moz-transition:all 0.0s linear;
		-ms-transition:all 0.0s linear;
		-o-transition:all 0.0s linear;
		-webkit-transition:all 0.0s linear;
		transition:all 0.0s linear;		
		visibility:hidden;
		width:130px;
		z-index:4;
	}
	ul.gw-go-body li.gw-go-has-tooltip:hover span.gw-go-tooltip {
		opacity:1;
		visibility:visible;
		bottom:100%;
        margin-bottom:-3px;
		-moz-transition:opacity 0.2s linear, visibility 0s linear, margin-bottom 0.2s linear;
		-ms-transition:opacity 0.2s linear, visibility 0s linear, margin-bottom 0.2s linear;
		-o-transition:opacity 0.2s linear, visibility 0s linear, margin-bottom 0.2s linear;
		-webkit-transition:opacity 0.2s linear, visibility 0s linear, margin-bottom 0.2s linear;
		transition:opacity 0.2s linear, visibility 0s linear, margin-bottom 0.2s linear;
	}	
	ul.gw-go-body li.gw-go-has-tooltip span.gw-go-tooltip:before {
		border-right:6px solid transparent;	
		border-left:6px solid transparent;		
		border-top:6px solid #9c9c9c;
        border-top-color:inherit;
		content:'';
		left:10px;
		position:absolute;
		top:100%;
	}
    ul.gw-go-body li a {
      	color:inherit;
    	text-decoration:none !important; 
     }
	ul.gw-go-body li a:hover { text-decoration:underline !important; }    
	
/* -------------------------------------------------------------------------------- /
	[9.6] PRICING TABLE - FOOTER & BUTTONS
/ -------------------------------------------------------------------------------- */

	/* colum footer */
	.gw-go-footer,
	.gw-go:hover .gw-go-footer,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-footer,
	.gw-go.gw-go-enlarge-current:hover .gw-go-col-wrap.gw-go-current .gw-go-footer { 
		height:67px; 
		-moz-transition:all 0.2s linear;
		-ms-transition:all 0.2s linear; 
		-o-transition:all 0.2s linear; 
		-webkit-transition:all 0.2s linear; 
		transition:all 0.2s linear; 
	}

	.gw-go.gw-go-enlarge-current .gw-go-col-wrap.gw-go-current .gw-go-footer, 
	.gw-go.gw-go-enlarge-current:hover .gw-go-col-wrap:hover .gw-go-footer, 
	.gw-go.gw-go-enlarge-current:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-footer { height:107px; }

	/* button general settings */
	.gw-go-btn {
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		bottom:20px;
        cursor:pointer;		
		display:inline-block;
		margin-right:0 !important;
		position:relative;
		text-decoration:none;
		-moz-transition:bottom 0.2s linear;	
		-o-transition:bottom 0.2s linear;	
		-webkit-transition:bottom 0.2s linear;
		transition:bottom 0.2s linear;

	}
    span.gw-go-btn form { display:none !important; }
    .gw-go-btn:hover { text-decoration:none !important; }
    .gw-go-btn:hover, .gw-go-btn:focus {
    	color:#f2f2f2 !important;
    	background:#313131 !important;
    }

	/* button hover & active states */
	.gw-go-col-wrap:hover .gw-go-btn:active, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-btn:active {	
		-moz-box-shadow:0 0 0 rgba(0,0,0,0.15) inset;
		-webkit-box-shadow:0 0 0 rgba(0,0,0,0.15) inset;
		box-shadow:0 0 0 rgba(0,0,0,0.15) inset;
		-moz-transition:all 0s linear;
		-ms-transition:all 0s linear; 
		-o-transition:all 0s linear; 
		-webkit-transition:all 0s linear; 
		transition:all 0s linear; 		
	}
	
	/* button sizes - small, medium, large */
	.gw-go-btn-small {
		font-size:11px;
		height:18px;
		line-height:18px;
		margin-top:43px;
		padding:0 5px;
	}
	.gw-go-btn-medium {
		font-size:12px;
		height:27px;
		line-height:27px;
		margin-top:38px;		
		padding:0 8px;
	}
	.gw-go-btn-large {
		font-size:16px;
		height:42px;
		line-height:42px;
		margin-top:31px;		
		padding:0 15px;
	}
	
	/* button - column hover event */
	.gw-go.gw-go-enlarge-current .gw-go-col-wrap:hover .gw-go-btn,
	.gw-go.gw-go-enlarge-current .gw-go-col-wrap.gw-go-current .gw-go-btn,
	.gw-go.gw-go-enlarge-current:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-btn { bottom:0px; }
	.gw-go.gw-go-enlarge-current:hover .gw-go-col-wrap.gw-go-current .gw-go-btn { bottom:20px; } 
	
/* -------------------------------------------------------------------------------- /
	[9.7] PRICING TABLE - MEDIA QUERIE
/ -------------------------------------------------------------------------------- */

	@media only screen and (min-width:480px) and (max-width:767px) {
   		.gw-go-1col .gw-go-col-wrap,
		.gw-go-2cols .gw-go-col-wrap,
		.gw-go-3cols .gw-go-col-wrap,
		.gw-go-4cols .gw-go-col-wrap,
		.gw-go-5cols .gw-go-col-wrap { width:50% !important; }
        .gw-go-space-1p .gw-go-col-wrap { width:49.5% !important; }
        .gw-go-space-2p .gw-go-col-wrap { width:49% !important; }
        .gw-go-space-3p .gw-go-col-wrap { width:48.5% !important; }
        .gw-go-space-4p .gw-go-col-wrap { width:48% !important; }
        .gw-go-space-5p .gw-go-col-wrap { width:47.5% !important; }                                
		.gw-go-col-wrap:nth-of-type(2n-1) { margin-left:0 !important; }               
	}

	@media only screen and (max-width:479px) {
   		.gw-go-1col .gw-go-col-wrap,
		.gw-go-2cols .gw-go-col-wrap,
		.gw-go-3cols .gw-go-col-wrap,
		.gw-go-4cols .gw-go-col-wrap,
		.gw-go-5cols .gw-go-col-wrap {
        	margin-left:0 !important;
        	float:left !important;
        	width:100% !important;
         } 
	}

/* -------------------------------------------------------------------------------- /
	[9.8] PRICING TABLE - STYLES	
/ -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- /
	PRICING TABLE - STYLE 1
/ -------------------------------------------------------------------------------- */

	/* column default state */
	.gw-go-col.gw-go-style1,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style1 { background:#F5F5F5; }
	/* column hover / selected state */
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style1,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style1,	
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style1 { background:#FFF; }
	
	/***** header *****/
	.gw-go-col.gw-go-style1 .gw-go-header-top { background:#FFF; }	
	/* column default state */
	.gw-go-col.gw-go-style1 .gw-go-header h3,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style1 .gw-go-header h3 { color:#585858; }
	/* column hover / selected state */
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style1 .gw-go-header h3,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style1 .gw-go-header h3,	
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style1 .gw-go-header h3 { color:#01654A; }
	.gw-go-col.gw-go-style1 .gw-go-coinf, 
	.gw-go-col.gw-go-style1 .gw-go-coinb { border:solid 3px #bbb; }

	.gw-go-col.gw-go-style1 .gw-go-coinf div, 
	.gw-go-col.gw-go-style1 .gw-go-coinb div { color:#01654A; }
	.gw-go-col.gw-go-style1 .gw-go-coinf small, 
	.gw-go-col.gw-go-style1 .gw-go-coinb small { color:#585858; }	
	
	/***** details *****/
	/* column default state */
	.gw-go-col.gw-go-style1 .gw-go-body,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style1 .gw-go-body { border-bottom-color:#FFF; }
	/* column hover / selected state */
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style1 .gw-go-body,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style1 .gw-go-body,	
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style1 .gw-go-body { border-bottom-color:#eaeaea; }	
	/* column default state */
	.gw-go-col.gw-go-style1 .gw-go-body li,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style1 .gw-go-body li { 
		border-top-color:#FFF;
		color:#585858;
	}
	/* column hover / selected state */
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style1 .gw-go-body li,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style1 .gw-go-body li,	
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style1 .gw-go-body li { 
		border-top-color:#eaeaea;
	}	
	
	/***** footer *****/
	/* column default state */
	.gw-go-col.gw-go-style1 .gw-go-btn,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style1 .gw-go-btn { 
		background:#9c9c9c;
		color:#f2f2f2;
	}
	/* column hover / selected state */	
	/* button default state */
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style1 .gw-go-btn,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style1 .gw-go-btn,	
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style1 .gw-go-btn { 	
		background:#01654A; 
		color:#FFFFFF;
	}
	
/* -------------------------------------------------------------------------------- /
	PRICING TABLE - STYLE 2
/ -------------------------------------------------------------------------------- */

	/* column default state */
	.gw-go-col.gw-go-style2,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 { background:#FFF; }

	/* column hover / selected state */
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style2,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2,	
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style2 { background:#01654A; }
	
	/***** header *****/
	/* column default state */
	.gw-go-col.gw-go-style2 .gw-go-header-top,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-header-top { 
		background:#FFF;
 }	
	/* column hover / selected state */
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style2 .gw-go-header-top,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-header-top,	
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style2 .gw-go-header-top { 	
		background:#01654A;
	}
	/* column default state */
	.gw-go-col.gw-go-style2 .gw-go-header-bottom,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-header-bottom { 
		background:#FFF;
		border-top:solid 1px #FFF;		
	}	
	/* column hover / selected state */
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style2 .gw-go-header-bottom,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-header-bottom,	
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style2 .gw-go-header-bottom { 
		background:#01654A;
		border-top:solid 1px #01654A;
	}
	/* column default state */
	.gw-go-col.gw-go-style2 .gw-go-header h3,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-header h3 { color:#01654A; }
	/* column hover / selected state */
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style2 .gw-go-header h3,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-header h3,	
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style2 .gw-go-header h3 { color:#FFF; }

	/* column default state */
	.gw-go-col.gw-go-style2 .gw-go-coinf,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-coinf,
	.gw-go-col.gw-go-style2 .gw-go-coinb,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-coinb	{ border:solid 2px #01654A; }
	.gw-go-col.gw-go-style2 .gw-go-coinf div,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-coinf div,
	.gw-go-col.gw-go-style2 .gw-go-coinb div,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-coinb div { 
		background:#01654A;
		color:#FFF;
	}
	/* column hover / selected state */
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style2 .gw-go-coinf,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-coinf,	
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style2 .gw-go-coinf,	
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style2 .gw-go-coinb,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-coinb,
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style2 .gw-go-coinb { border:solid 2px #fff; }	
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style2 .gw-go-coinf div,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-coinf div,	
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style2 .gw-go-coinf div,	
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style2 .gw-go-coinb div,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-coinb div,
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style2 .gw-go-coinb div { 
		background:#FFF;
		color:#01654A;
	}
	.gw-go-col.gw-go-style2 .gw-go-coinb small,
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style2 .gw-go-coinb small { color:#313131; }
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-coinb small { color:#fff; }
	
	/***** details *****/
	.gw-go-col.gw-go-style2 .gw-go-body { border-bottom-color:#eaeaea; }
	/* column default state */
	.gw-go-col.gw-go-style2 .gw-go-body li,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-body li {
		background:#eaeaea;
		border-top-color:#FFF;
		color:#9c9c9c;
	}
	.gw-go-col.gw-go-style2 .gw-go-body li.gw-go-even,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-body li.gw-go-even { background:#F5F5F5; }	
	/* column hover / selected state */
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style2 .gw-go-body li,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-body li,	
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style2 .gw-go-body li {
		background:none;
		border-top-color:#FFF;
		color:#FFF;
	}	
	
	/***** footer *****/
	/* column default state */
	.gw-go-col.gw-go-style2 .gw-go-btn,
	.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-btn { 
		background:#01654A;
		color:#f2f2f2;
	}

	/* column hover / selected state */	
	/* button default state */
	.gw-go-col-wrap:hover .gw-go-col.gw-go-style2 .gw-go-btn,
	.gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-style2 .gw-go-btn,	
	.gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-style2 .gw-go-btn { 	
		background:#FFF;
		color:#01654A;
	}
	
	/* tooltip */
	.gw-go-col.gw-go-style2 ul.gw-go-body li.gw-go-has-tooltip span.gw-go-tooltip { 
		background:#FFF;
        border-color:#FFF;
		color:#313131;	
	}
	.gw-go-col.gw-go-style2 ul.gw-go-body li.gw-go-has-tooltip span.gw-go-tooltip:before { border-top:6px solid #FFF; }

/* -------------------------------------------------------------------------------- /
	[10] PLUGIN SPECIFIC STYLES
/ -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- /
	[10.1] LAVALAMP PLUGIN
/ -------------------------------------------------------------------------------- */

	li.backLava {
		background:#f2f2f2;
		border:none !important;		
		-moz-border-radius-bottomleft:4px;
		-moz-border-radius-bottomright:4px;
		-webkit-border-bottom-left-radius:4px;
		-webkit-border-bottom-right-radius:4px;
		border-bottom-left-radius:4px;
		border-bottom-right-radius:4px;
		-o-box-shadow:0 1px 2px rgba(0,0,0,0.2);
		-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
		-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
		box-shadow:0 1px 2px rgba(0,0,0,0.2);
		cursor:pointer;	
		height:15px !important;
		position:absolute;
		top:100% !important;
		transition:none !important;
	}
	li.backLava:before { display:none; }

/* -------------------------------------------------------------------------------- /
	[10.2] ISOTOPE PLUGIN
/ -------------------------------------------------------------------------------- */

	.isotope-item { z-index:2; }
	.isotope-hidden.isotope-item {
		pointer-events:none;
		z-index:1;
	}
	.isotope,
	.isotope .isotope-item {
	  /* change duration value to whatever you like */
		-webkit-transition-duration:0.8s;
		-moz-transition-duration:0.8s;
		-ms-transition-duration:0.8s;
		-o-transition-duration:0.8s;
		transition-duration:0.8s;
	}
	.isotope {
		-webkit-transition-property:height, width;
		-moz-transition-property:height, width;
		-ms-transition-property:height, width;
		-o-transition-property:height, width;
		transition-property:height, width;
	}
	
	.isotope .isotope-item {
		-webkit-transition-property:-webkit-transform, opacity;
		-moz-transition-property:-moz-transform, opacity;
		-ms-transition-property:-ms-transform, opacity;
		-o-transition-property:-o-transform, opacity;
		transition-property:transform, opacity;
	}
	
/* -------------------------------------------------------------------------------- /
	[10.3] SLIDER REVOLUTION
/ -------------------------------------------------------------------------------- */

	.rev-slider li {
		background:none;
		padding:0;
		height: 570px !important;
	}
	.fullwidthbanner-container {
		overflow:hidden;
		padding:0;			
		position:relative;
		width:100% !important;		
	}
	.fullwidthabnner {
		position:relative;		
		width:100% !important;
	}
	.fullwidthbanner-container img {
		height:100%;
		max-width:none;
		width:auto;		
	}
	.js-on .fullwidthbanner-container img {
		height:auto;
		width:auto;
	}
	.fullwidthbanner-container .caption { display:none; }
	.js-on .fullwidthbanner-container .caption { display:block; }
	
	.fullwidthabnner > ul { margin:0; }
	.fullwidthabnner > ul > li { display:none; } 
	.fullwidthabnner > ul > li:first-child,
	.js-on .fullwidthabnner > ul > li { display:block; } 	

	/* slider captions */
	.tp-caption.slider-title-large {
		color:#f2f2f2;	
		font-size:24px;
		line-height:25px;
		margin:0;	
		padding:11px 15px;
		position:relative;
		z-index:0;
	}
	.tp-caption.slider-title-large:before,
	.tp-caption.slider-title:before {
		content:'';			
		background:#313131;	
		height:100%;
		left:0;	
		opacity:0.9;
		position:absolute;
		top:0;
		width:100%;
		z-index:-1;
	}
	.tp-caption.slider-title {
		color:#f2f2f2;	
		font-size:20px;
		line-height:23px;
		margin:0;	
		padding:11px 15px;
		position:relative;
		z-index:0;
	}
	.slider-light-h1,
	.slider-light-h2,
	.slider-light-h3 { color:#fff; }
	.slider-dark-h1,
	.slider-dark-h2,
	.slider-dark-h3 { color:#313131; }	
	.tp-caption.slider-light-h1,
	.tp-caption.slider-dark-h1 { font-size:125px; }
	.tp-caption.slider-light-h2,
	.tp-caption.slider-dark-h2 { font-size:37px; }
	.tp-caption.slider-light-h3,
	.tp-caption.slider-dark-h3 { font-size:26px; }		

/* -------------------------------------------------------------------------------- /
	[10.4] MAGNIFIC POPUP
/ -------------------------------------------------------------------------------- */

 	.mfp-close {
 		background:url(../images/misc/icon_close.png) 0 0 no-repeat !important;
		color:transparent !important;
		cursor:pointer !important;		
 		height:24px !important;
		opacity:1 !important;		
		right: 0 !important;
		top:6px  !important;
		width:24px !important;
 	}
 	.mfp-close:hover { background-position:0 -24px !important; }
 	.mfp-iframe-holder .mfp-close { top:-34px !important; }

/* -------------------------------------------------------------------------------- /
	[11] MEDIA QUERIES
/ -------------------------------------------------------------------------------- */
	
	@media (max-width:979px) {
		
		/* layout */
		.boxed #wrapper, .boxed .wrapper { max-width:804px; }
		
		/* header */
		#header-panel { margin-top:45px; }
		
		/* navigation */
		#primary-navigation-placholder { display:none !important; }
		#primary-navigation {
			position:absolute;
			width:100% !important;
		}		
		#primary-navigation.fullwidth { width:auto; }
		#primary-navigation.stickynav { position:absolute; }		
		#primary-navigation .menu-responsive { display:block; }		
		#primary-navigation .menu {
			background:#f2f2f2;
			-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
			-o-box-shadow:0 1px 2px rgba(0,0,0,0.2);			
			-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
			box-shadow:0 1px 2px rgba(0,0,0,0.2);
			float:none;			
			left:auto;
			margin:0 auto;
			max-width:400px;
			overflow:hidden;					
		}
		#primary-navigation .menu li {
			height:auto;
			right:auto;			
			width:100%;						
		}
		#primary-navigation .menu ul,
		#primary-navigation .menu ul ul { transition:none !important; }
		#primary-navigation .menu li ul {
			-o-box-shadow:none;
			-moz-box-shadow:none;
			-webkit-box-shadow:none;
			box-shadow:none;			
			display:none;			
			left:0;
			opacity:1;			
			position:relative;
			padding-top:0 !important;
			margin:0 !important;		
			top:0 !important;
			visibility:visible;
		}
		.js-on #primary-navigation ul { display:none; }
		#primary-navigation .menu ul li > a {
			background:url(../images/menu_icons/sub_arrow_light.png) 40px -5px no-repeat;
			padding-left:60px;
		}
		#primary-navigation .menu ul,
		#primary-navigation .menu ul > li:last-child {
			-moz-border-radius-bottomleft:0;
			-moz-border-radius-bottomright:0;
			-webkit-border-bottom-left-radius:0;
			-webkit-border-bottom-right-radius:0;
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;	
		}
		#primary-navigation .menu ul li:first-child { border-top:solid 1px #bbbbbb !important; }
		li.backLava { display:none !important; }

		/* misc */
		.tabs-wrapper { display:none; }
		.portfolio-filter.tabs-wrapper { display:block; }
		.portfolio-posts .post,
		.post-list .post { min-width:352px;	}
		.portfolio-filter.tabs-wrapper,
		.tabs-content { height: auto !important; }
		.tab-title { border-top: solid 1px #bbb; display:block; }
		.tab-title:first-child { border-top:none; }
	}
	
	@media (max-width:767px) { 

		/* layout */
		.boxed #wrapper, .boxed .wrapper { width:100%; }
		.container {
			padding-left:40px !important;
			padding-right:40px !important;
			position:relative;
		}
		.main-content { max-width:400px; }

		/* columns */
		.one-half,
		.one-third,
		.two-third,
		.one-fourth,
		.three-fourth,
		.one-fifth,
		.two-fifth,
		.three-fifth,
		.four-fifth,
		.one-sixth,
		.five-sixth { 
			float:none;
			width:100%;
		}
	
		/* header */
		#header-info ul li {
			float:none;
			text-align:center;
		}
	
		/* footer */
		.top-footer-list-wrapper .ticker li { margin:0 60px 0 35px !important; }
		.top-footer-list-controls a.follow { display:none; }
		#footer .container { max-width:400px; }

		/* blog & portfolio */
		.blog .row:before { display: none; }
		.portfolio .tabs-wrapper { border-bottom:none; }
		.portfolio-filter .tabs > li {
			display:block;
			width:50%;	
		}
		.portfolio-filter .tabs > li a {
			border-left:0;
			border-top:solid 1px #bbb;	
			height:10px;
			line-height:10px;
			margin-top:-1px;			
			text-align:center;
		}
		.portfolio-filter .tabs > li:first-child {
			text-align:center;
			width:100%;			
		}
		.portfolio-filter .tabs > li:first-child a { border:none; }		
		.type-portfolio-half .post-header { margin-bottom:40px; }		
		.portfolio-posts .post,
		.post-list .post { min-width:0; }

		/* misc */
		.title-meta span { float:right; }
		#hide-info-container { height:0; overflow:hidden; }
		.captcha {
			max-width:100% !important;
			width:100% !important;
		}
		h2.main-title { padding:20px 0 0; }
		.title-meta-text, .title-meta {
			position:relative;
			top:15px;
		}
		#scroll-top { display:none !important; }
		
		/* pagination */
		.pagination-info { text-align:center; }
		.pagination { right:50%; }
		.pagination li { left:50%; }
		.page-prev, .page-next {
			position:absolute;
			right:100%;
		}
		.page-next { right:auto; }
		.post-author { margin-left:0; }
		.post-author .avatar {
			float:none;
			left:auto;
			margin-bottom:20px;			
			position:relative;
		}
		#comment-list .avatar {
			margin-left:10px;
			margin-top:10px;
			width:auto;
		}
		#comment-list ul.children, .comment-container { margin-left:0; }
	}