{% extends "base.html" %}

{% block title_bar %}
    <title xmlns="http://www.w3.org/1999/html">Events - {{ event.Name }} - Mr. LOOP </title>
{% endblock %}


{% block mainContent %}
<div id="main" class="wrapper">
    <div class="main-content container">
        <h2 class="main-title">{{ event.Name }}</h2>
        <div class="row clearfix">
            <div class="post">
                <div class="post-header">
                    <img src="{{ STATIC_URL }}images/JapenITWeek.png" alt="feature Picture">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}