{% extends "base.html" %}

{% block title_bar %}
    <title>Products - Mr. LOOP </title>
{% endblock %}


{% block mainContent %}
    <!-- #header panel -->
    <div id="header-panel" class="wrapper header-parallax">
        <div class="header-image header-image-portfolio container"></div>
        <div class="page-title">
            <h1><a href="/resources/services/">Portfolio 2 Columns</a></h1>
        </div>
    </div>
    <!-- /#header panel -->
    <div id="main" class="wrapper">
        <div class="main-content container">
        {% if user.is_superuser %}
            <!-- portfolio single content -->
            <div class="post">
                <div class="post-header">
                    <div class="post-slider slider clearfix">
                        <ul class="slides">
                            <li><a href="#"><img src="content/portfolio/original_4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="content/portfolio/original_2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="content/portfolio/original_3.jpg" alt=""></a></li>
                        </ul>
                        <a href="#" class="slider-control-prev"></a>
                        <a href="#" class="slider-control-next"></a>
                    </div>
                </div>

                <div class="post-body row">
                    <div class="span8">
                        <h2>Project Description</h2>
                        <p>Huo te eligendi fabellas, exerci noluisse reprim queam exe. Mel singulis consetetur. Peru ideal mollis vidisse, oratio libris peru et prim ponderum pri partem. Mutat dicat pri in. Posse vocibus has no, est causae vidisse id, modo iisque definitiones cu sea.</p>
                        <p>Eum ex putent suavitate, sean ne comodo app areat efficiantur. Fuisset scribentur vim an, eu est indoctum patrioque. Eum ex veritus placer at, at nam vide assum diceret. Hinc disputatio ni libris enam, me etudoctus. Eu duo dicant accusata rationibus. Cu tation putent nominavi eum, odio ate percipitur disputationi at has. Odio vitae iudico his eu.</p>
                    </div>
                    <div class="span4">
                        <h2>Project Details</h2>
                        <ul class="post-meta">
                            <li><span>Client: </span>Fashion Magazine</li>
                            <li><span>Date: </span>05 January, 2013</li>
                            <li><span>Tags: </span><a href="#">Cover</a>, <a href="#">Magazine</a>, <a href="#">Photography</a></li>
                        </ul>
                        <p><a class="btn-large btn-style1" href="#">Launch Project</a></p>
                    </div>
                </div>
            </div>
            <!-- /portfolio single content -->
        {% else %}
            <div class="portfolio portfolio-isotope">
                <!-- .portfolio-filter -->
                <div class="portfolio-filter tabs-wrapper tabs-centered clearfix">
                    <ul class="tabs">
                        <li class="current"><a href="#">All</a></li>
                        <li data-filter="animation"><a href="#">Animation</a></li>
                        <li data-filter="corporate"><a href="#">Corporate</a></li>
                        <li data-filter="design"><a href="#">Design</a></li>
                        <li data-filter="photography"><a href="#">Photography</a></li>
                    </ul>
                </div>
                <!-- /.portfolio-filter -->

                <!-- .portfolio-posts -->
                <ul class="portfolio-posts row">

                    <!-- .post -->
                    <li class="post span6 has-overlay" data-filter="corporate design photography">
                        <div class="post-inner">
                            <div class="post-header">
                                <a href="portfolio-single-wide.html"><img src="content/portfolio/thumbnail_1.jpg" alt=""></a>
                            </div>
                            <div class="post-body">
                                <h2><a href="portfolio-single-wide.html">Te nam disputationi</a></h2>
                            </div>
                            <div class="post-overlay">
                                <div class="post-overlay-meta">
                                    <h2>Te nam disputationi</h2>
                                    <a href="#">Cover</a>, <a href="#">Journal</a>, <a href="#">Photography</a>
                                </div>
                                <ul class="post-overlay-icons">
                                    <li><span></span><a href="content/portfolio/original_1.jpg" class="overlay-icon-more magnific-popup"></a></li>
                                    <li><span></span><a href="portfolio-single-wide.html" class="overlay-icon-link"></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- /.post -->

                    <!-- .post -->
                    <li class="post span6 has-overlay" data-filter="animation design photography">
                        <div class="post-inner">
                            <div class="post-header">
                                <a href="portfolio-single-wide.html"><img src="content/portfolio/thumbnail_2.jpg" alt=""></a>
                            </div>
                            <div class="post-body">
                                <h2><a href="portfolio-single-wide.html">Affer denique cu sit mei</a></h2>
                            </div>
                            <div class="post-overlay">
                                <div class="post-overlay-meta">
                                    <h2>Affer denique cu sit mei</h2>
                                    <a href="#">Nature</a>, <a href="#">Photography</a>
                                </div>
                                <ul class="post-overlay-icons">
                                    <li><span></span><a href="content/portfolio/original_2.jpg" class="overlay-icon-more magnific-popup"></a></li>
                                    <li><span></span><a href="portfolio-single-wide.html" class="overlay-icon-link"></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- /.post -->

                    <!-- .post -->
                    <li class="post span6 has-overlay" data-filter="animation design photography">
                        <div class="post-inner">
                            <div class="post-header">
                                <a href="portfolio-single-wide.html"><img src="content/portfolio/thumbnail_4.jpg" alt=""></a>
                            </div>
                            <div class="post-body">
                                <h2><a href="portfolio-single-wide.html">Eam porro facilis libevis</a></h2>
                            </div>
                            <div class="post-overlay">
                                <div class="post-overlay-meta">
                                    <h2>Eam porro facilis libevis</h2>
                                    <a href="#">Animation</a>, <a href="#">Magazine</a>, <a href="#">Photography</a>
                                </div>
                                <ul class="post-overlay-icons">
                                    <li><span></span><a href="https://vimeo.com/31066005" class="overlay-icon-more magnific-popup-html"></a></li>
                                    <li><span></span><a href="portfolio-single-wide.html" class="overlay-icon-link"></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- /.post -->

                    <!-- .post -->
                    <li class="post span6" data-filter="animation design photography">
                        <div class="post-inner">
                            <div class="post-header">
                                <div class="post-slider slider clearfix">
                                    <ul class="slides">
                                        <li><a href="portfolio-single-wide.html"><img src="content/portfolio/thumbnail_6.jpg" alt=""></a></li>
                                        <li><a href="portfolio-single-wide.html"><img src="content/portfolio/thumbnail_5.jpg" alt=""></a></li>
                                    </ul>
                                    <a href="#" class="slider-control-prev"></a>
                                    <a href="#" class="slider-control-next"></a>
                                </div>
                            </div>
                            <div class="post-body">
                                <h2><a href="portfolio-single-wide.html">Sit cetero nonus refer</a></h2>
                            </div>
                        </div>
                    </li>
                    <!-- /.post -->

                    <!-- .post -->
                    <li class="post span6 has-overlay" data-filter="corporate design">
                        <div class="post-inner">
                            <div class="post-header">
                                <a href="portfolio-single-wide.html"><img src="content/portfolio/thumbnail_7.jpg" alt=""></a>
                            </div>
                            <div class="post-body">
                                <h2><a href="portfolio-single-wide.html">In eam vidit accusamus</a></h2>
                            </div>
                            <div class="post-overlay">
                                <div class="post-overlay-meta">
                                    <h2>In eam vidit accusamus</h2>
                                    <a href="#">Corporate</a>, <a href="#">Video</a>
                                </div>
                                <ul class="post-overlay-icons">
                                    <li><span></span><a href="https://vimeo.com/31066005" class="overlay-icon-more magnific-popup-html"></a></li>
                                    <li><span></span><a href="portfolio-single-wide.html" class="overlay-icon-link"></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- /.post -->

                    <!-- .post -->
                    <li class="post span6 has-overlay"  data-filter="corporate">
                        <div class="post-inner">
                            <div class="post-header">
                                <a href="portfolio-single-wide.html"><img src="content/portfolio/thumbnail_3.jpg" alt=""></a>
                            </div>
                            <div class="post-body">
                                <h2><a href="portfolio-single-wide.html">Vix ad idque diceret</a></h2>
                            </div>
                            <div class="post-overlay">
                                <div class="post-overlay-meta">
                                    <h2>Vix ad idque diceret</h2>
                                    <a href="#">Corporate</a>, <a href="#">Journal</a>
                                </div>
                                <ul class="post-overlay-icons">
                                    <li><span></span><a href="content/portfolio/original_3.jpg" class="overlay-icon-more magnific-popup"></a></li>
                                    <li><span></span><a href="portfolio-single-wide.html" class="overlay-icon-link"></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- /.post -->

                </ul>
                <!-- /.portfolio-posts -->

            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}