{% extends "base.html" %}

{% block title_bar %}
    <title>Events Register Success - Mr. LOOP </title>
{% endblock %}

{% block mainContent %}
    <div id="main" class="wrapper">
        <div class="main-content container">
            <h2 class="main-title">{{ main }}</h2>
            <div class="row clearfix">
                <div class="span10 offset1">
                    {% if isSuccess %}
                    <div class="alert alert-success1">
                        <button type="button" class="close"><span class="alert-icon-close"></span></button>
                        Thank You, Mr./Miss {{ msg.user_name }}.

                        Please <strong>Confirm</strong> your personal information..
                        <section class="selectize-control">
                            <legend class="label-inline">User</legend>
                            <table class="table-responsive">
                                <tr><td class="span4">Register:</td><td><strong>{{ msg.user_name }}</strong></td></tr>
                                <tr><td>Phone:</td><td><strong>{{ msg.cellphone }}</strong></td></tr>
                                <tr><td>Title:</td><td><strong>{{ msg.title }}</strong></td></tr>
                                <tr><td>Stage:</td><td><strong>{{ msg.stages }}</strong></td></tr>
                            </table>
                        </section>
                        <section class="selectize-control">
                            <legend class="label-inline">Company</legend>
                            <table class="table-responsive">
                                <tr><td class="span4">Email:</td><td><strong>{{ msg.user_mail }}</strong></td></tr>
                                <tr><td>Company:</td><td><strong>{{ msg.company }}</strong></td></tr>
                            </table>
                        </section>
                    </div>
                    {% else %}

                    {% if link_type %}
                        <div class="alert alert-warning">
                        <a class="btn-link" href="/">{{ msg }}</a>
                        </div>
                    {% else %}
                        <div class="alert alert-info2">
                            <p>{{ msg }}</p>
                            <div class="space-10"></div>
                            <a href="/events/register/"><button type="button" ><span class="icon-backward"></span> Back to register</button></a>
                        </div>
                    {% endif %}

                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}