{% extends "base.html" %}

{% block title_bar %}
    <title>Forum Register Form - Mr. LOOP </title>
{% endblock %}

{% block mainContent %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<div id="main" class="wrapper">
    <div class="main-content container">
        <h2 class="main-title">Forum Register Form</h2>
    <!-- #contact-form -->
    {% if results.isExist %}
        {% if results.type == None %}
            <div class="alert alert-warning"><button type="button" class="close"><span class="alert-icon-close"></span></button>
        {% elif results.type == 1 %}
            <div class="alert alert-info2"><button type="button" class="close"><span class="alert-icon-close"></span></button>
            <legend style="color: #fff;">Warning Fields: recaptcha</legend>
        {% else %}
            <div class="alert alert-error"><button type="button" class="close"><span class="alert-icon-close"></span></button>
            <legend style="color: #fff;">Error Fields:</legend>
        {% endif %}
                {% if results.errors %}
                    <ul class="list-cross">
                    {% for error in results.errors %}
                        <li class="list-group-item-text">{{ error|escape|upper }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
    {% endif %}
    <form id="register-form" name="register-form" method="post" action="#">{% csrf_token %}
        <div class="row"><legend>Person</legend>
            <p class="span4">{{ form.user_name }}</p>
            <p class="span4">{{ form.user_mail }}</p>
            <p class="span4">{{ form.cellphone }}</p>
            <p class="span3">{{ form.telephone }}</p>
            <p class="span2">{{ form.telephone_sub }}</p>
        </div>
        <div class="row"><legend>Company</legend>
            <p class="span4">{{ form.company }}</p>
            <p class="span4">{{ form.address }}</p>
            <p class="span4">{{ form.industry }}</p>
            <p class="span4">{{ form.department }}</p>
            <p class="span4">{{ form.title }}</p>
            <p class="span4">{{ form.stages }}</p>
        </div>
        <div class="space-30"></div>
        <div class="row">
            <h3>
                <p>歡迎報名參加由巽晨國際(Mr.Loop，以下稱：Mr.Loop)所主辦、承辦、協辦各項活動。</p>
                <p>當您進行報名活動時，即表示您願意以電子文件之方式行使法律所賦予同意之權利，並具有書面同意之效果。</p>
                <p>Mr.Loop為確保與會者之個人資料、隱私及與會者權益之保護，於報名過程中將使用與會者之個人資料，謹依個人資料保護法第8條規定告知以下事項：</p>
            </h3>
            <h4>一、蒐集目的及方式</h4>
            <p>本公司之蒐集目的在於進行活動報名作業管理、行銷及內部的統計調查與分析（法定特定目的項目編號為090、040、157）。蒐集方式將透過數位化、電話、紙本或傳真報名等各種方式進行個人資料之蒐集。</p>
            <h4>二、蒐集之個人資料類別</h4>
            <ul class="list-star">
                <h5>本公司於活動報名時蒐集的個人資料包括:</h5>
                <li>C001 辨識個人者：如與會者之姓名、地址、電話、電子郵件等資訊。</li>
                <li>C002 辨識財務者：如信用卡或轉帳帳戶資訊，此資訊蒐集僅限於收費型活動。</li>
            </ul>
            <h4>三、利用期間、地區、對象及方式</h4>
            <ul class="list-arrow2">
                <li>期間：本公司營運期間。</li>
                <li>地區：與會者之個人資料將用於台灣地區。</li>
                <li>利用對象及方式：與會者之個人資料蒐集除用於本公司之研討會活動管理、合作夥伴管理之檢索查詢等功能外，將有以下利用：</li>
                <li>與會者結構分析：依蒐集之個人資料進行統計分析。</li>
                <li>行銷：與會者名單依蒐集之個人資料進行行銷使用，在與會者同意之下，本公司與合作夥伴將進行行銷、聯繫與訊息傳遞。</li>
            </ul>
            <h4>四、與會者個人資料之權利</h4>
            <p>與會者交付本公司個人資料後，於報名時提供之個人資料，得向本公司請求查閱、閱覽、製給複本、補充、更正、停止蒐集/處理/利用、或刪除。與會者可來電洽詢（+886-2-2648-6697）本公司活動客服進行申請。</p>


            <h6><input type="checkbox" class="span1" name="agreed_c"><strong>*</strong>我已閱讀「Mr.Loop個資蒐集聲明」，並同意Mr.Loop及合作夥伴於會後透過各種方式（包含但不限於電話、電子郵件、簡訊、傳真及書面等方式）與我聯繫。</h6>

        </div>
        <div class="row">
            <div class="span4 pull-right">
                <div class="g-recaptcha" data-sitekey="6LdiOBQUAAAAAEHyOVfEVS6Oz-SQB2OOcEn55MDn"></div>
            </div>
            <div class="span3">
                <p><button type="submit" tabindex="6" class="btn-large btn-style1">SUBMIT</button></p>
            </div>
        </div>
        <div class="nspace-20"></div>
    </form>
    <!-- /#contact-form -->
    </div>

</div>
{% endblock %}