{% extends "base.html" %}

{% block title_bar %}
    <title>Resources - Customers Services - Mr. LOOP </title>
{% endblock %}

{% block mainContent %}

<div class="main-content container">
    <h2 class="main-title">3 and 4 Columns</h2>
    <p class="sub-title">Hinc disputationi ei nam, mei doctus tamquam suscipit te. Enim mediocritatem vel etun, inqui falli minimum. Tale sanctus assentior sed ex. Gubergren euripidis vis, usu noluisse, dicta intellegam eu per.</p>
    <!-- pricing table style1 -->
    <div class="gw-go gw-go-clearfix gw-go-enlarge-current gw-go-3cols">
        <div class="gw-go-col-wrap">
            <div class="gw-go-col gw-go-style1">
                <div class="gw-go-header">
                    <div class="gw-go-header-top">
                        <h3>Column 1</h3>
                        <div class="gw-go-coin-wrap">
                            <div class="gw-go-coinf">
                                <div>$9<small>1 month</small></div>
                            </div>
                            <div class="gw-go-coinb">
                                <div>$9<small>1 month</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="gw-go-header-bottom"></div>
                </div>
                <ul class="gw-go-body">
                    <li>20 Splendide philosophia et</li>
                    <li class="gw-go-even">Cum at probo / minimum</li>
                    <li>Falli libris has id facer</li>
                    <li class="gw-go-even">Pertinax vel eum ne molestie</li>
                    <li class="gw-go-has-tooltip">Taleni noluisse signiferum<span class="gw-go-tooltip">Lorem ipsum dolor si amet, at ferri regione quo, quis lucilius elei vim te. Et eum omitt an menandri, hastoi mucius graeco liortis cu, inani et vis.</span></li>
                </ul>
                <div class="gw-go-footer"><a href="#" class="gw-go-btn gw-go-btn-medium" target="_blank">Order Now</a></div>
            </div>
        </div>
        <div class="gw-go-col-wrap gw-go-current">
            <div class="gw-go-col gw-go-style1">
                <div class="gw-go-header">
                    <div class="gw-go-header-top">
                        <h3>Column 2</h3>
                        <div class="gw-go-coin-wrap">
                            <div class="gw-go-coinf">
                                <div>$13<small>2 months</small></div>
                            </div>
                            <div class="gw-go-coinb">
                                <div>$13<small>2 months</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="gw-go-header-bottom"></div>
                </div>
                <ul class="gw-go-body">
                    <li>30 Splendide philosophia et</li>
                    <li class="gw-go-even">Cum at probo / minimum</li>
                    <li class="gw-go-has-tooltip">Falli libris has id facer<span class="gw-go-tooltip">Lorem ipsum dolor si amet, at ferri regione quo, quis lucilius elei vim orete.</span></li>
                    <li class="gw-go-even">Pertinax vel eum ne molestie</li>
                    <li>Taleni noluisse signiferum</li>
                </ul>
                <div class="gw-go-footer"><a href="#" class="gw-go-btn gw-go-btn-large" target="_blank">Purchase</a></div>
            </div>
        </div>
        <div class="gw-go-col-wrap">
            <div class="gw-go-col gw-go-style1">
                <div class="gw-go-header">
                    <div class="gw-go-header-top">
                        <h3>Column 3</h3>
                        <div class="gw-go-coin-wrap">
                            <div class="gw-go-coinf">
                                <div>$26<small>3 months</small></div>
                            </div>
                            <div class="gw-go-coinb">
                                <div>$26<small>3 months</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="gw-go-header-bottom"></div>
                </div>
                <ul class="gw-go-body">
                    <li>40 Splendide philosophia et</li>
                    <li class="gw-go-even">Cum at probo / minimum</li>
                    <li>Falli libris has id facer</li>
                    <li class="gw-go-has-tooltip">Pertinax vel eum ne molestie<span class="gw-go-tooltip">Et eum omitt an meni, hastoi mucius graeco liortis, et vis.</span></li>
                    <li class="gw-go-even">Taleni noluisse signiferum</li>
                </ul>
                <div class="gw-go-footer"><a href="#" class="gw-go-btn gw-go-btn-medium" target="_blank">Order Now</a></div>
            </div>
        </div>
    </div>
    <!-- /pricing table style1 -->
</div>

{% endblock %}