{% extends "base.html" %}

<title>Error 404 Page </title>

{% block mainContent %}
<div id="header-panel" class="wrapper header-parallax">
    <div class="header-image header-image-404 container"></div>
    <div class="page-title">
        <h1>404 Page</h1>
    </div>
</div>
<!-- #main -->
		<div id="main" class="wrapper">
			<div class="main-content container">
				<h2 class="main-title">Page not found</h2>
				<div class="alert alert-error">The page you are looking for doesn't exist. <strong>Sorry about that.</strong> Luckily enough, we have some pages that do exist :)
					<button type="button" class="close"><span class="alert-icon-close"></span></button>
				</div>
				<div class="space-25"></div>		
				<h4 class="tcenter">We suggest...</h4>
				<ol class="sub-title tcenter">
					<li>Please check the web address for typos.</li>
					<li>Try refining your search or use the navigation above to locate the post.</li>
					<li>If you are sure the page you are searching for should be <a href="#" class="link-style1">here</a>, please contact us and we do our best to help.</li>
					<li>Click <a href="#" class="link-style1">here</a> to report a dead link.</li>
				</ol>
				<div class="nspace-10"></div>
			</div>
		</div>
		<!-- /#main --> 
	
{% endblock %}
{% block js_local_block %}
<script>
window.location.replace("http://millitronic.com.tw");
</script>
{% endblock%}
