{% extends "template_base.html" %}

{% block title_bar %}
    <title>{{ title }} </title>
{% endblock %}

{% block css_list %}
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
{% endblock %}

{% block header_block %}
    <div id="top" class="jumbotron">
        <div class="vert-text">
            <h3>Please Click This Button to Download Application Form</h3>
            <a href="http://goo.gl/hHc3Fp" class="btn btn-default btn-lg">Click!!</a>
        </div>
    </div>
{% endblock %}

{% block content_block %}
    <div class="row">
        <div class="container page_col" style="background-color: lightcyan">
            <h2>Heading 1</h2>
            <p>Here are some descriptions on this area.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
    </div>
{% endblock %}

{% block jquery_package_block %}
{% endblock %}