<div class="one-fourth block {% if forloop.last %}last{% endif %}">
    <div class="content">
        <div class="block-title-meta"><i class="square"></i>APPLICATION</div>
        <div class="block-content">
            <h4>{{ item.name }}</h4>
            <p class="sub-title">{{ item.overview }}</p>
        </div>
        <ul class="list-minus">
            <li><a href="{{ item.redirect }}" class="icon"><span>Read More</span></a></li>
        </ul>
    </div>
    <img src="{{ item.feature }}" alt="" class="">
</div>
