{% extends "base.html" %}

{% block plugin_css %}
    <link href="{{ STATIC_URL }}css/homestyle.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block bannersBlock %}
<!-- #banner -->
    {% if Event_Ad %}
    <div id="bannerMask"></div>
    <div id="banner" class="span4 event" style="background-image: url({{ Event_Ad.Snapshot }});">
        <a class="pull-right close">x</a>
        {% if Event_Ad.ExhUrls == '' %}
            <a class="btn btn-link reg-btn" href="/events/{{ Event_Ad.id }}/">Event Detail</a>
        {% else %}
            <a class="btn btn-link reg-btn" href="{{ Event_Ad.ExhUrls }}">Event Detail</a>
        {% endif %}
    </div>
    {% endif %}
<!-- /#banner -->
{% endblock %}

{% block mainContent %}
    <!-- #main -->
    <div id="main" class="wrapper">
        <div class="main-content container" style="padding-top: 30px;">
            {% if isNeed %}
	        <!-- #hide-info-container -->
            <div id="hide-info-container" class="row">
            {% for item in latest %}
                <!-- hide info box -->
                <div class="hide-info-box-style{% cycle 1 2 3 %} one-third {% if forloop.last %} last {% endif %}">
		    {% if False %}
                <div class="hide-info-box-content">
                    <div class="hide-info-box-header"><img src="{{ STATIC_URL }}content/hide_container/a_thumb.jpg" alt=""></div>
                    <p class="tcenter">不知道是要放什麼</p>
                    <p><a href="#" class="btn-large btn-style1 hide-info-btn">Launch it</a></p>
                    <div class="clearfix"></div>
                </div>
		    {% endif %}
                <div class="circle-box">
                    <h4>
                    <span class="circle">
                        <span class="circle-border"></span>
                        <span class="circle-inner" style="font-size: 12px;">{{ item.pubDate|date:"y/m/d"}}</span>
                    </span>
                        <small>{{ item.describe }}</small>
                    </h4>
                </div>
            </div>
                <!-- /hide info box -->
            {% endfor %}
            </div>
            {% endif %}
        <!-- /#hide-info-container -->

{% if events  %}
        <h2 class="main-title">Events</h2>
        <p class="sub-title">Where to Find Us</p>
        <div class="gw-go gw-go-clearfix gw-go-enlarge-current gw-go-3cols">
            {% for etb in events %}
            <div class="gw-go-col-wrap">
                <div class="gw-go-col gw-go-style1">
                    <div class="gw-go-header">
                        <div class="gw-go-header-top">
                            <h3>{{ etb.Name }}</h3>
                            <img src="{{etb.Snapshot}}" class="eventShot" style="padding-top: 18%;">
                        </div>
                        <div class="gw-go-header-bottom"></div>
                    </div>
                    <div class="gw-go-coin-wrap" style="top: -10%; left: 0; transform: rotate(-30deg);">
                        <div class="gw-go-coinf">
                            <div style="font-size: 24px;">{{ etb.BeginDate|date:"m/d" }}<small>~{{ etb.FinalDate|date:"m/d" }}</small></div>
                        </div>
                        <div class="gw-go-coinb">
                            <div style="font-size: 24px;">{{ etb.BeginDate|date:"m/d" }}<small>~{{ etb.FinalDate|date:"m/d" }}</small></div>
                        </div>
                    </div>
                    <ul class="gw-go-body">
                        <li>{{ etb.Booth }}</li>
                        <li class="gw-go-even">{{ etb.Country }}</li>
                    </ul>
                    <div class="gw-go-footer">
                        {% if Event_Ad %}
                            <a href="event/{{etb.id}}/" class="gw-go-btn gw-go-btn-medium" target="_target">More Detail</a>
                        {% else %}
                            <a href="{{etb.ExhUrls}}" class="gw-go-btn gw-go-btn-medium" target="_target">More Detail</a>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endif %}


<div class="row">
    {% for item in products %}
        {% include 'block_temp.html' %}
    {% endfor %}

    <div class="clearfix"></div>
    <div class="space-30"></div>
</div>



{% if OpenFuncBlock %}
        <h2 class="main-title">Functional Block Pictures
            {% if false %}<span class="title-meta-text"><a href="/solutions/1/" class="link-style3">Visit the portfolio &raquo;</a></span>{% endif %}
        </h2>
        <p class="sub-title"></p>
        <div class="portfolio">
            <ul class="portfolio-posts row">
                {% for single in products %}
                <li class="post span6 has-overlay">
                    <div class="post-inner">
                        <div class="post-header" style="max-height: 260px;">
                            <a href="/functions/{{ single.id }}"><img src="{{ single.flowchart }}" alt=""></a>
                        </div>
                        <div class="post-body">
                            <h2><a href="/functions/{{ single.id }}">{{ single.eng_name }}</a></h2>
                        </div>
                        <div class="post-overlay">
                            <div class="post-overlay-meta">
                                <h2>{{ single.eng_name }}</h2>
                                <a href="/functions/{{ single.id }}">{{ single.platforms }}</a>
                            </div>
                            <ul class="post-overlay-icons">
                                <li><span></span><a href="/functions/{{ single.id }}" class="overlay-icon-link"></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
{% endif %}


{% if OpenVideoBlock %}
        <h2 class="main-title">Latest Video
            <span class="title-meta-text"><a href="/news/" class="link-style3">Visit the News &raquo;</a></span>
        </h2>
        {% if false %}<p class="sub-title">放新的影片</p>{% endif %}
        <div class="blog">
            <!-- post row -->
            <ul class="row">
                {% for preview in video %}
			{% if preview|length > 1 %}
                		<li class="post span6">
			{% else %}
				<li class="post span8 offset2">
			{% endif %}
                    <div class="post-inner">
                        <div class="post-header">
                            <iframe width="100%" height="270" src="{{ preview.video_url }}" frameborder="0" allowfullscreen style="margin-bottom: -5px;"></iframe>
                        </div>
                        <div class="post-body">
                            <h2><a>{{ preview.title }}</a></h2>
                            <div class="post-date circle">
                                <div class="circle-border"></div>
                                <div class="circle-inner">{{ preview.update_date|date:'d' }}<span>{{ preview.update_date|date:'M' }}</span></div>
                            </div>
                            <div class="post-excerpt"><p>{{ preview.content }}</p></div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <!-- /post row -->
        </div>
{% endif %}

        </div>
    </div>
    <!-- /#main -->

{% endblock %}

{% block js_local_block %}
<script>
    jQuery(document).ready(function($){
        $("#banner .close").click(function(){
            $(this).parent().remove();
            $('#bannerMask').remove();
        });

        $("#banner .reg-btn").click(function(){
            $('#bannerMask').remove();
        });
{#        {% if messages %}#}
{#                {% if message.tags == 'error' %}#}
{#                    $.snackbar({content: "{{ message }}", style: "snackbar", timeout: 5000}).show();#}
{#                {% else %}#}
{#                    {% if message.tags == 'warning' %}#}
{#                        $.snackbar({content: "{{ message }}", style: "toast", timeout: 5000}).show();#}
{#                    {% else %}#}
{#                        $.snackbar({content: "{{ message }}", style: "snackbar", timeout: 5000}).show();#}
{#                    {% endif %}#}
{#                {% endif %}#}
{##}
{#            {% endfor %}#}
{#        {% endif %}#}
    });
</script>
{% endblock %}
