<ul class="tabs-content">
    {% for item in products %}
    <li {% if forloop.first %} class="current" {% endif %}>
        {% for prod in item %}
        <div class="tab-content">
            <div class="one-half {% if forloop.final %} last {% endif %}">
                <img class="prod_preview" src="{{ STATIC_URL }}content/MLPM2_B.png"/>
            </div>

            <div class="clearfix"></div>
            <div class="space-20"></div>

            <ul class="toggles">
                <h4>Model Name: <span class="highlight1" style="padding: 0 10px;"> {{ prod.name }} </span></h4>
                <li class="current">
                    <div class="toggle-title"><a href="#"><span></span>Overview</a></div>
                    <div class="toggle-content"><p>{{ prod.desc|linebreaksbr }}</p></div>
                </li>
                <li>
                    <div class="toggle-title"><a href="#"><span></span>Features</a></div>
                    <div class="toggle-content">
                        <ul class="list-star" style="margin-left: 10%;">
                        {% for feature in prod.comments %}
                            <li>{{ feature }}</li>
                        {% empty %}
                            <li>None</li>
                        {% endfor %}
                        </ul>
                        <dir class="space10"></dir>
                    </div>
                </li>
                <!--<li>-->
                    <!--<div class="toggle-title"><a href="#"><span></span>Specification</a></div>-->
                    <!--<div class="toggle-content">-->
                        <!--<table class="table table-bordered">-->
                          <!--<thead>-->
                            <!--<tr><th scope="col">#</th><th scope="col">First</th><th scope="col">Last</th><th scope="col">Handle</th></tr>-->
                          <!--</thead>-->
                          <!--<tbody>-->
                            <!--<tr><th scope="row">1</th><td>Mark</td><td>Otto</td><td>@mdo</td></tr>-->
                            <!--<tr><th scope="row">2</th><td>Jacob</td><td>Thornton</td><td>@fat</td></tr>-->
                            <!--<tr><th scope="row">3</th><td colspan="2">Larry the Bird</td><td>@twitter</td></tr>-->
                          <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</li>-->
                <li>
                    <div class="toggle-title"><a href="#"><span></span>DataSheet</a></div>
                    <div class="toggle-content">
                        <button type="button" class="btn-large btn-style1" href="{{ prod.story.product_link }}" download="MLPB01.pdf" style="margin: 10px 0;">Download</button>
                    </div>
                </li>
                <!--<li>-->
                    <!--<div class="toggle-title"><a href="#"><span></span>User Guide</a></div>-->
                    <!--<div class="toggle-content">-->
                        <!--<button type="button" class="btn-large btn-style1" href="{{ prod.story.product_link }}" download="MLPB01.pdf" style="margin: 10px 0;">Download</button>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
        {% endfor%}
    </li>
    {% endfor %}
</ul>