<ul class="tabs-content">
    {% for item in products %}
    <li {% if forloop.first %} class="current" {% endif %}>
        <div class="tab-content">
            <!--<div class="portfolio">-->
                <!--<ul class="portfolio-posts row isotope">-->
                <!--{% for prod in item %}-->
                <!--<li class="post span4">-->
                    <!--<div class="post-inner">-->
                        <!--<div class="post-header span4">-->
                            <!--<a href="#"><img src="{{ prod.picture }}"></a>-->
                        <!--</div>-->
                        <!--<div class="post-body">-->
                            <!--<h2>{{ prod.name }}</h2>-->
                        <!--</div>-->
                        <!--<div class="post-overlay">-->
                            <!--<div class="post-overlay-meta">-->
                                <!--<h2>Download</h2>-->
                            <!--</div>-->
                            <!--<ul class="post-overlay-icons">-->
                                <!--<li><span></span><a href="{{ prod.download }}" class="overlay-icon-link"></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--{% endfor %}-->
                <!--</ul>-->
            <!--</div>-->


            <div class="row">
                {% for prod in item %}
                <div class="comment span6 clearfix millitronic_style2">
                    <div class="avatar"><img alt="" src="{{ prod.picture }}" class="avatar"></div>
                    <div class="comment-container">
                        <h4 class="comment-author"><a href="#">{{ prod.name }}</a></h4>
                        <dir class="space10"></dir>
                        <div class="comment-meta">
                            <a class="comment-reply-link link-style3" href="{{ prod.download }}" target="_blank">Download datasheet &raquo;</a>
                        </div>
                        <div class="comment-body">
                            <p>{{ prod.desc |truncatewords:20 }}</p>
                            <div class="space10"></div>
                            <div class="row">
                                <ul class="list-star" style="margin-left: 10%;">
                                {% for feature in prod.comments %}
                                    <li>{{ feature }}</li>
                                {% empty %}
                                    <li>None</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>