{% for group in products %}
<div class="row clearfix" style="margin-top: 15px;">
    {% for prod in group %}
    <div class="one-third">
        {% if forloop.first %}<img class="field_img" src="{{ prod.picture }}" width="300" height="200">
        {% else %}
            <div class="space-10"> </div>
        {% endif %}
    </div>

    <div class="two-third last">
        {% if forloop.first %}<h3 class="field_name">{{ prod.field }}</h3>{% endif %}
        <div class="block3 content">
            <div class="title">
                <h4 class="middle-title">{{ prod.name }}</h4>
            </div>
            <p class="text-view">{{ prod.desc|linebreaksbr }}</p>
            <div class="space-10"></div>
            <h4 class="middle-title">Features</h4>
            <div class="row">
                <div class="one-half">
                <ul class="list-minor content-text" style="margin-left: 10%;">
                    {% for feature in prod.comment_left %}
                    <li>{{ feature }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="one-half last">
                <ul class="list-minor content-text" style="margin-left: 10%;">
                {% for feature in prod.comment_right %}
                    <li>{{ feature }}</li>
                {% endfor %}
                </ul>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
<div class="space-10"></div>