{% extends "base.html" %}

{% block title_bar %}
    <title>Applications - Millitronic </title>
{% endblock %}



{% block mainContent %}

<div class="main-content">
    {% for app in solutions %}
    <section id="{% cycle 'network' 'docker' 'mr_vr_ar' 'stream' 'edgeAI' %}" class="fullscreen">
        <div class="row">
            <img src="/{{ app.feature }}">
        </div>
    </section>
    {% endfor %}
    <!--<section id="docker" class="fullscreen">-->
        <!--<div class="row">-->
            <!--<img src="{{ STATIC_URL}}images/Applications-02.jpg">-->
        <!--</div>-->
    <!--</section>-->
    <!--<section id="mr_vr_ar" class="fullscreen">-->
        <!--<div class="row">-->
            <!--<img src="{{ STATIC_URL}}images/Applications-03.jpg">-->
        <!--</div>-->
    <!--</section>-->
    <!--<section id="stream" class="fullscreen">-->
        <!--<div class="row">-->
            <!--<img src="{{ STATIC_URL}}images/Applications-04.jpg">-->
        <!--</div>-->
    <!--</section>-->
    <!--<section id="edgeAI" class="fullscreen">-->
        <!--<div class="row">-->
            <!--<img src="{{ STATIC_URL}}images/Applications-05.jpg">-->
        <!--</div>-->
    <!--</section>-->
</div>
{% endblock %}



{% block js_local_block %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script>


jQuery(function($){
    var navigator = $('#primary-navigation');
    var submenu = $('#secondary-navigation');
    var $body=$('body');
    var $headerInfo=$body.find('#header-info');
    var headerInfoH=$headerInfo.length ? $headerInfo.outerHeight() : 0;
    var $logo=$body.find('#logo');
    var logoH=$logo.length ? $logo.height() : 0
    var minLogoPadding=10;


    function onWheel(elem){
        $.scrollTo(elem, 1000, function(){ submenu.addClass('sub_menu').css('top', '45px'); });
    };
    document.addEventListener('mousewheel', onWheel, {passive: true});

    var navOffsetTop = function() {
        return headerInfoH+logoH+minLogoPadding*2;
    }

    $(window).scroll(function() {
        if(navOffsetTop()<= $(window).scrollTop()){
            submenu.addClass('sub_menu').css('top', '45px');
        }else{
            submenu.removeClass('sub_menu');
        }
    });

    $('body').on('mousewheel DOMMouseScroll', function(e){
        if( document.getElementById('primary-navigation').offsetTop == 0){
            submenu.addClass('sub_menu').css('top', '75px');
        }else if(window.pageYOffset >= 276){
            submenu.addClass('sub_menu').css('top', '45px');
        }else{
            if(!navigator.hasClass('stickynav'))
                submenu.removeClass('sub_menu').css('top', '75px');
        }
    });

    var list = submenu.find('a');
    list.click(function(e){
        e.preventDefault();
        var id = $(this).attr('href');
        var height1 = submenu.height();
        var height2 = $('#primary-navigation').height();
        var locationY = $(id).position().top - height1 - height2;
        onWheel($(id));
    });


});

</script>
{% endblock %}