<!DOCTYPE HTML>
<html>
	<head>
		<title>802.11ad Soultions</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ STATIC_URL }}solutions/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ STATIC_URL }}solutions/js/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}solutions/js/jquery.poptrox.min.js"></script>
		<script src="{{ STATIC_URL }}solutions/js/skel.min.js"></script>
		<script src="{{ STATIC_URL }}solutions/js/init.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ STATIC_URL }}solutions/css/skel-noscript.css" />
			<link rel="stylesheet" href="{{ STATIC_URL }}solutions/css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}solutions/css/ie/v8.css" /><![endif]-->
        <style>
            h3.text-center { margin: 10px 0;}
            path {
                stroke: steelblue;
                stroke-width: 2;
                fill: none;
            }

            .axis path,
            .axis line {
                fill: none;
                stroke: grey;
                stroke-width: 1;
                shape-rendering: crispEdges;
            }

            .blackTrans { background-color: black; opacity: 0.7; padding-right: 15px;}
        </style>
	</head>
	<body>	
		<header id="header">
		<!-- Logo -->
		<h1 id="logo"><span><img src="{{ STATIC_URL }}solutions/images/favicon.ico" width="20" height="20"></span><a href="#"> Business Services </a></h1>
		<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#Main">Intro</a></li>
					<li><a href="#RF">RF</a></li>
					<li><a href="#ITF">Interface</a></li>
					<li><a href="#Plat">Platform</a></li>
					<li><a href="#APPs">Applications</a></li>
				</ul>
			</nav>
		</header>
			
		<!-- Main -->
		<section id="Main"  class="main style1 dark fullscreen">
			<div class="content container small">
				<header>
					<h2>All Solutions with Packages Customized </h2>
				</header>
				<ul class="default blackTrans">
                    <li>Low loss RF-to-antenna transition EM model</li>
                    <li>MMW Flip Chip process/ ESD protection</li>
                    <li>External PA extension key</li>
                    <li>External Lens/ Reflector extension key</li>
                </ul>
				<footer>
					<a href="#RF" class="button style2 down">More</a>
				</footer>
			</div>
		</section>
		
		<!-- RF Design -->
		<section id="RF" class="main style2 right dark fullscreen">
            <div class="content box style2">
                <header>
                    <h2>Mr.Loop 60GHz Beamforming Array Technology</h2>
                </header>
                <p>Support for beamforming is defined within the PHY and MAC layer</p>
                <p>Dynamic digital beamforming for special antenna structure and algorithm</p>
                <p>Provide switch beamforming/ phase beamforming/ adaptive beamforming for different application</p>
            </div>
            <div id="chart">
                <div id="diagram"></div>
            </div>
            <div class="content">
                <div class="blackTrans" style="text-align: right;">
                    <h3 class="rightTitle">Customized Radiation Service for Wireless Channel</h3>
                    <ul>
                        <li>Endfired/ Broadside/ Omnidirectional</li>
                        <li>Linkbudget channel estimation</li>
                        <li>Linear polarization ( high gain, narrow beam..)</li>
                        <li>Dual polarization ( multi channel, spatial beam division..)</li>
                        <li>Circular polarization ( Robust, overcome multi path fading..)</li>
                    </ul>
                </div>
            </div>

            <div class="clearfix"></div>

			<a href="#ITF" class="button style2 down anchored">Next</a>
		</section>
		
		<!-- Interface -->
		<section id="ITF" class="main style2 left dark fullscreen">
			<div class="content box style2">
				<header>
					<h2>Hardware Interface</h2>
				</header>
            </div>
            <div class="container style3">
               	<div class="one-half">
			<div class="one-half">
                    	<h3>USB3.0</h3>/<h3> USB2.0 Host</h3>
                	</div>
                	<div class="one-half last">
                    	<h3>HDMI Transceiver/ Receiver</h3>
               		</div>
		</div>
		<div class="one-half last">
                	<div class="one-third">
                    	<h3>PCIe, 1 Lane</h3>
                	</div>
			<div class="one-third">
                    	<h3>M.2, B key</h3>
                	</div>
			<div class="one-third last">
                    	<h3>GPMC + FPGA</h3>
                	</div>
            	</div>
			<a href="#Plat" class="button style2 down anchored">Next</a>
		</section>
			
		<!-- Platform -->
		<section id="Plat" class="main style3 primary">
			<div class="content container">
				<header>
					<h2>Platforms</h2>
					<p>We Can Realize your scenario with Supported OS as below </p>
				</header>
				<!--Lightbox Gallery Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox-->
				<div class="container small gallery">
                    <h3 class="text-center">Desktop</h3>
					<div class="row flush images">
						<div class="4u"><a href="{{ STATIC_URL }}images/solutions/windows.png" class="image full l"><img src="{{ STATIC_URL }}images/solutions/windows.png" title="The Anonymous Red" alt="" /></a></div>
						<div class="4u"><a href="{{ STATIC_URL }}images/solutions/osx.png" class="image full l"><img src="{{ STATIC_URL }}images/solutions/osx.png" title="Airchitecture II" alt="" /></a></div>
                        <div class="4u"><a href="{{ STATIC_URL }}images/solutions/linux.jpg" class="image full r" style="min-height:174px; box-shadow: 1px 1px #c9c9c9;"><img src="{{ STATIC_URL }}images/solutions/linux.jpg" title="Air Lounge" alt="" /></a></div>
					</div>

                    <h3 class="text-center">Mobile Device</h3>
					<div class="row flush images">
						<div class="6u"><a href="{{ STATIC_URL }}images/solutions/android.png" class="image full r"><img src="{{ STATIC_URL }}images/solutions/android.jpg" title="Carry on" alt="" /></a></div>
                        <div class="6u"><a href="{{ STATIC_URL }}images/solutions/ios9.png" class="image full r"><img src="{{ STATIC_URL }}images/solutions/ios9.png" title="Carry on" alt="" /></a><h4 class="text-center">Coming Soon</h4></div>
					</div>
				</div>
			</div>
		</section>
			
		<!-- Applications -->
		<section id="APPs" class="main style3 secondary">
			<div class="content container">
				<header>
					<h2>Applications</h2>
				</header>
				<div class="container style3">
				    <div class="one-fourth">
                        <h3>Data Transfer</h3>
                    </div>
                    <div class="one-fourth">
                        <h3>Broadcasting</h3>
                    </div>
                    <div class="one-fourth"><h3>Miracast</h3></div>
                    <div class="one-fourth last"><h3>Streaming</h3></div>
				</div>
			</div>
		</section>
			
		<!-- Footer -->
		<footer id="footer">
			<ul class="actions">
				<li><a href="https://twitter.com/mrloopwigig" class="fa solo fa-twitter"><span>Twitter</span></a></li>
				<li><a href="https://www.facebook.com/mrloop.tw/?fref=nf" class="fa solo fa-facebook"><span>Facebook</span></a></li>
			</ul>
			<ul class="menu">
				<li>&copy; Mr.LOOP</li>
				<li>Design: <a href="http://html5up.net/">HTML5 UP</a></li>
			</ul>
		</footer>
	</body>
    <script src="{{ STATIC_URL }}solutions/js/d3_draw.js"></script>
</html>
