{% extends "base.html" %}

{% block title_bar %}
    <title>Technology - Millitronic </title>
{% endblock %}


{% block mainContent %}
<div class="main-content container">
    <h2 class="main-title">Technology</h2>
    <div class="type-portfolio clearfix">
        <div class="post">
            <div class="post-header clearfix">
                <img src="/static/images/BUSINESS-5G-mobile.png">
            </div>
            <div class="post-body">
                {% for row in nodes %}
                    <div class="row">
                        {% for node in row %}
                        <div class="one-half block2 {% if forloop.last %}last{%endif%}">
                            <div class="content">
                                <div class="block-title-meta"><i class="square"></i>Technology</div>
                                <h4>{{ node.title }}<br /><span>{{ node.subtitle }}</span></h4>
                                <p> {{ node.introduce|linebreaksbr}} </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="space-45"></div>
</div>
{% endblock %}