<div class="one-half block2">
    <div class="content">
        <div class="block-title-meta"><i class="square"></i>Radio Diversity</div>
        <h4>Beamforming Algorithm and Phase Array</h4>
        <p>{{ comment1|linebreaksbr}}</p>
    </div>

</div>


<div class="row">
    <div class="one-half block2">
        <div class="content">
            <div class="block-title-meta"><i class="square"></i>Technology</div>
            <h4>Radio Stability</h4>
            <p>{{ comment3|linebreaksbr}}</p>
        </div>

    </div>
    <div class="one-half block2 last">
        <div class="content">
            <div class="block-title-meta"><i class="square"></i>Technology</div>
            <h2>Artificial Intelligence Expansion</h2>
            <p>{{ comment4|linebreaksbr}}</p>
        </div>
    </div>
</div>