#content-container {
	max-width: 1280px;
	margin: 0 auto;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}

.selectall.checkbox label .check{ border-color:orangered; }
.selectall.checkbox input[type=checkbox]:checked~.check { color: #afeeee; }
.selectall.checkbox input[type=checkbox]:checked~.check:before { color: #87ceeb;}
.selectall.checkbox input[type=checkbox]:checked~.check:after { color: #87cefa;}

#tagsBlock {
	width: 100%;
	background-color: white;
	color: blue;
	border:solid 1px #c9c9c9;
	border-radius: 4px;
}

#labels {
	display: inline;
	padding: 4px 2px;
}

#tags-input {
	border-bottom: solid 1px red;
	display: inline-block;
	width:auto;

}

.label-inline {
	display:inline-block;
	margin:2px;
}

.well { margin-top: 20px; margin-right: 20px;}
.well form { position: relative; }
.plusBtn-corner{
	position: absolute;
	right: -50px;
	top: -30px;
}

.plusBtn-corner-second {
    position: absolute;
    right: -50px;
    top: 40px;
}

.tab_block { display: none; }
.tab_block.active { display:block; }

.nav-tabs>li.active {
	background-color: purple;
	border-bottom: solid 1px white;
}

.itemBar {
	box-shadow: none;
}

.label-group { position: relative; display: inline-block; margin: 0 5px; float: left;}
.label-group > span { float: left; padding: 3px 5px;}
.label-group .label-add-on { box-shadow: 2px 2px #ccc; }
.label-group .rmlab { display: none; }
.label-group:after { both:clear; }

.inBox-body {
    display: none;
    border: solid 1px #cccccc;
    border-top: none ;
    width: 99%;
    margin: 0 auto;
}

#snackbar-container {
	position:absolute;
	top:20px;
	right:20px;
	width: 320px;
}
#snackbar-container .snackbar-opened .snackbar-content { display: block; }
#snackbar-container .snackbar-content { display: none; }

#checked {
	position: fixed;
	width: 560px;
	top: 20%;
	margin: 0 25%;
}