{% extends "base.html" %}

{% block mainContent %}
	<div id="header" class="wrapper">
		<div id="header-panel" class="wrapper">
			 <div class="rev-slider slider container fullwidth">
				<img src="{{ STATIC_URL }}images/about.jpg" alt="">
			</div>
		</div>
	</div>
	
	<!-- #main -->
	<div id="main" class="wrapper">
		<div class="main-content container">
			{% include 'contacts/driver_download.html' %}

			{% include 'contacts/faq_mg360.html' %}
			<h2 class="main-title">Get in Touch</h2>
			<p class="sub-title">Our team is eager to provide the high-power knowledge that will be the cornerstone of your startup. If you have an interesting project for us, do get in touch on:</p>
			<div class="row">
				<!--
                <div class="span3">
					<div class="circle-box contact-box">
						<h4>
							<span class="circle">
								<span class="circle-border"></span>
								<span class="circle-inner"><span class="circle-icon-skype"></span></span>
							</span>
							Skype</h4>
						<p><a href="bayerbear@hotmai.com" class="link-style1">Call us</a></p>
					</div>
				</div> -->
				<div class="span4">
					<div class="circle-box">
						<h4>
							<span class="circle">
								<span class="circle-border"></span>
								<span class="circle-inner"><span class="circle-icon-tel"></span></span>
							</span>
							Phone</h4>
						<p>+886-2-87925868</p>
					</div>
				</div>
				<div class="span4">
					<div class="circle-box">
						<h4>
							<span class="circle">
								<span class="circle-border"></span>
								<span class="circle-inner"><span class="circle-icon-twitter"></span></span>
							</span>
							Twitter</h4>
						<p><a href="https://twitter.com/mrloopwigig" class="link-style1" target="_blank">Follow us</a></p>
					</div>
				</div>
				<div class="span4">
					<div class="circle-box">
						<h4>
							<span class="circle">
								<span class="circle-border"></span>
								<span class="circle-inner"><span class="circle-icon-mail"></span></span>
							</span>
							E-mail</h4>
						<p><a href="#" class="link-style1">service@mrloop.com.tw</a></p>
					</div>
				</div>
			</div>
			{% if False %}
            <h2 class="main-title">FEEL FREE SHOOT US A MAIL</h2>
			<p class="sub-title"></p>
			
			<!-- #contact-form -->
			<form id="contact-form" name="contact-form" method="post" action="/client_feedback/">
			<div class="row">
				<p class="span4"><input id="username" name="username" type="text" tabindex="1" value="" placeholder="Name (required)"></p>
				<p class="span4"><input id="email" name="email" type="text" tabindex="2" value="" placeholder="E-mail (required)"></p>
			</div>
			<div class="row">
				<p class="span12"><textarea id="message" name="message" tabindex="4" rows="6" placeholder="Message (required)"></textarea></p>
			</div>
			<div class="row">
				<div class="span4 pull-right">
					<div class="captcha">
						<label for="captcha">Are you human? 3+7 = </label>
						<input id="captcha" name="captcha" type="text" tabindex="5" value="" autocomplete="off" />
					</div>
				</div>
				<div class="span3">
					<p><button type="submit" tabindex="6" class="btn-large btn-style1">SUBMIT</button></p>
				</div>
			</div>
			<div class="nspace-20"></div>
			</form>
            {% endif %}
			<!-- /#contact-form -->
						
		</div>
	</div>
	<!-- /#main -->
{% endblock %}