<div id="download">
    <div class="space-30"></div>
    <h2 class="main-title">Drivers Released</h2>

    <div class="tabs-wrapper clearfix">
        <ul class="tabs">
            <li class="current">
                <a href="#">MG360</a>
            </li>
        </ul>
    </div>
    
    <ul class="tabs-content">
        <li class="current">
            <div class="tab-title">MG360</div>
            <div class="tab-content">
                <ul class="list-star no-space">
                    <li><a href="{{STATIC_URL}}downloads/MG360 Driver 2.3-R1.exe" download="MG360 Driver 2.3-R1.exe">
                        <button class="btn btn-style1">2.3-R1</button></a>  <span>19/01/11 updated.</span>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>