<div id="support">
    <div class="space-30"></div>
    <h2 class="main-title">Frequently Asked Question</h2>

    <!-- toggle -->
    <ul class="toggles">
        <li class="current">
            <div class="toggle-title"><a href="#"><span></span>Where can I position the router?</a></div>
            <div class="toggle-content">
                <p class="post-meta clearfix"><span>Answer</span>: Follow "Effective Area" and then check your router and MG360 placed as below:</p>
                <img src="{{ STATIC_URL }}images/FAQs/image1.jpg">
                <div class="space-30"></div>
            </div>
        </li>
        <li>
            <div class="toggle-title"><a href="#"><span></span>How can I connect to others Wi-Fi with MG360?</a></div>
            <div class="toggle-content">
                <p class="post-meta clearfix"><span>Answer</span>: Yes, but you have to notice the radio of Wi-Fi you want to connect. The radio of some Wi-Fi devices is 2.4Ghz or 5GHz and the radio of MG360 is 60GHz. MG360 is compatible with the same radio of the routers.</p>
                <div class="space-30"></div>
            </div>
        </li>
        <li>
            <div class="toggle-title"><a href="#"><span></span>How could I do when It shows "No Wi-Fi networks found" as below?</a></div>
            <div class="toggle-content">
                <p class="post-meta clearfix"><span>Answer</span>: Please check</p>
                    <ul class="list-arrorw5">
                        <li>The installation of the MG360 driver</li>
                        <li>The light signal of MG360</li>
                        <li>Follow "Chapter 2- MG360 Connect to the router".</li>
                    </ul>
                <img src="{{ STATIC_URL }}images/FAQs/image2.jpg">
                <div class="space-30"></div>
            </div>
        </li>
        <li>
            <div class="toggle-title"><a href="#"><span></span>What It means It shows without Wi-Fi icon at "Network & Internet settings" panel as below after I insert MG360 device?</a></div>
            <div class="toggle-content">
                <p class="post-meta clearfix"><span>Answer</span>: Please check </p>
                <ul class="list-arrorw5">
                    <li>The installation of the MG360 driver</li>
                    <li>The light signal of MG360</li>
                    <li>Follow "Chapter 2- MG360 Connect to the router".</li>
                </ul>
                <img src="{{ STATIC_URL }}images/FAQs/image3.jpg">
                <div class="space-30"></div>
            </div>
        </li>
        <li>
            <div class="toggle-title"><a href="#"><span></span>How do I check the installation of the MG360 driver?</a></div>
            <div class="toggle-content">
                <p class="post-meta clearfix"><span>Answer</span>: Recommend two options to check the installation by "Device Manager" or "Apps and Features".
                    Both of them are listed on the same menu which appeared you move your mouse hovered on Microsoft's Flag and then click right-button of your mouse.
                    You will see the sub-menu as below. </p>
                <blockquote>And then choose "Device Manager" or "Apps and Features".</blockquote>
                <img src="{{ STATIC_URL }}images/FAQs/image4.jpg">

                <p class="post-meta clearfix">In “Device Manager”, If the driver is not installed, it will appear "Unknown device" on the list. </p>
                <img src="{{ STATIC_URL }}images/FAQs/image5.jpg">
                <p class="post-meta clearfix">In “Apps & features”, key in "Peraso" in search-bar field, you will see the result as below. If the driver is installed, two items of the result will appear on the list.</p>
                <img src="{{ STATIC_URL }}images/FAQs/image6.jpg">
                <div class="space-30"></div>
            </div>
        </li>
        <li>
            <div class="toggle-title"><a href="#"><span></span>How to Uninstall Our Driver?</a></div>
            <div class="toggle-content">
                <p class="post-meta clearfix"><span>Answer</span>: Open "App and Features" Panel. When your mouse hovered on Microsoft's Flag, the menu will appear as below. Click right-button of your mouse, you will see the sub-menu. Then choose "Apps and Features".</p>
                <img src="{{ STATIC_URL }}images/FAQs/image7.jpg">
                <p class="post-meta clearfix">Key in "Peraso" in search-bar field, you will see the result as below:</p>
                <img src="{{ STATIC_URL }}images/FAQs/image8.jpg">
                <p class="post-meta clearfix">Select "Peraso 60 GHz Wireless Driver", and click "Uninstall". After it has been done, you will see both of them have been removed.</p>
                <img src="{{ STATIC_URL }}images/FAQs/image9.jpg">
                <div class="space-30"></div>
            </div>
        </li>
    </ul>
    <!-- /toggle -->
</div>